<labels>
{% for label in labels %}
	<label>
		<id>{{ label.id }}</id>
		<name>{{ label.name }}</name>
		<slug>{{ label.slug }}</slug>
		<nr-of-texts>{{ label.nrOfTexts }}</nr-of-texts>
	</label>
{% endfor %}
</labels>
