<div style="float: right; max-width: 40%">
	<h2>SFBG</h2>
	<div id="sfbg-content">
		<img src="{{ asset('css/images/loading.gif') }}" alt="loading">
	</div>
</div>
<script>
function searchSfbg(title)
{
	var sfbgUrl = "http://www.sfbg.us/search?type=book&query="+ title;
	$.get("/proxy.php?url="+ encodeURIComponent(sfbgUrl), function(response){
		if (response == "error") {
			$("#sfbg-content").html("Не присъства в SFBG.");
		} else {
			var matches = response.replace(/\n/g, " ").match(/<table class="lst">.+<\/table>/);
			var content = matches[0];
			var codeMatch = content.match(/book\/([^"]+)"/g);
			for (var i = 0; i < codeMatch.length; i++) {
				content += '<div><label>Код: <input type="text" size="20" value="'
					+ codeMatch[i].replace(/book\//, "")
					+ '"></label></div>';
			}
			$("#sfbg-content").html(content);
		}
	});
}

searchSfbg("{{ object.title }}");
</script>
