<div style="float: right; max-width: 40%">
	<h2>Файлове</h2>
	<ul>
		{% for filetype, file in object.datafiles %}
			{% if filetype == "book-cover" %}
				<li><a href="{{ asset(file) }}">{{ filetype }}</a></li>
			{% else %}
				<li><a href="/{{ file }}">{{ filetype }}</a></li>
			{% endif %}
		{% endfor %}
	</ul>
</div>
