<ul>
	{% if object.id is not empty %}
		<li class="btn sonata-action-element"><a href="{{ path('text_show', {'id': object.id}) }}">{{ 'library_link_action_show'|trans({}, 'admin') }}</a></li>
	{% endif %}
</ul>
