{% extends 'LibBundle::layout.html.twig' %}

{% set title %}
	{% if authors|length %}
		{% import 'LibBundle::link.html.twig' as link %}
		{{ link.persons_comma(authors) }}<br>
	{% endif %}
	<a class="selflink" data-edit="{{ path('admin_book_edit', {'id': book.id}) }}">{{ book.title|dot2br|raw }}</a>
{% endset %}
{% if book.subtitle %}
	{% set subtitle = book.subtitle %}
{% endif %}

{% block content %}

	{% include 'LibBundle:Book:_breadcrumb_sequences.html.twig' %}

	{% include 'LibBundle:Book:show_text.html.twig' %}

{% endblock %}

{% if book.withAutohide() %}
	{% set inline_js %}
		$(":header.inline-text").parent().addClass("collapsed").boxcollapse(false);
	{% endset %}
{% endif %}
