{% extends 'App::layout.html.twig' %}

{% set title = ('translators.by.country.'~by)|trans %}
{% block content %}

<ul>
	{% for country in countries %}
		{% if country.nrOfTranslators > 0 %}
			<li><a href="{{ path('translators_by_country', {'country': country.code, 'by': by}) }}">{{ country.name }}</a></li>
		{% endif %}
	{% endfor %}
</ul>

{% endblock %}
