<form class="delete-form image-form" action="{{ path('text_label_delete', {'id': text.id, 'labelId': label.id}) }}" method="post" data-credentials="user">
	<input type="hidden" name="_method" value="delete">
	<button type="submit" title="Изтриване на етикета „{{ label.name }}“"><span class="fa fa-trash-o"></span><span class="sr-only">Изтриване</span></button>
</form>
