/app/config/parameters.yml
/bin/
!bin/console
!bin/update
/update/*/
/var/*/
/var/
/vendor/
/web/content
/web/cache/
/web/tor/
/web/todo/
/web/bundles/
*.min.js
*.swp
.last
.lock
/composer.phar
!.gitignore
!.gitkeep
