<?xml version="1.0" encoding="UTF-8"?>
<!-- http://phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
	backupGlobals="false"
	backupStaticAttributes="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	processIsolation="false"
	stopOnFailure="false"
	bootstrap="vendor/autoload.php"
>
	<coverage>
		<include>
			<directory>app</directory>
		</include>
		<exclude>
			<directory>app/Resources</directory>
			<directory>app/Tests</directory>
		</exclude>
	</coverage>
	<testsuites>
		<testsuite name="Chitanka Test Suite">
			<directory>app/Tests</directory>
		</testsuite>
	</testsuites>
	<php>
		<server name="KERNEL_DIR" value="app/"/>
	</php>
</phpunit>
