{% extends 'App::layout.html.twig' %}

{% set title = 'Връзка с екипа' %}
{% block content %}

	<p>Имате богат избор от възможности, за да се свържете с администраторите на библиотеката. Можете да пишете в сайтовия форум, можете да пратите писмо по електронната поща ({{ admin_email|email|raw }}), а можете да ползвате и долния формуляр. Посочете име и електронна поща, за да може да получите отговор.</p>
	<p>Непременно прочетете <a href="http://wiki.chitanka.info/%D0%A7%D0%B5%D1%81%D1%82%D0%BE_%D0%B7%D0%B0%D0%B4%D0%B0%D0%B2%D0%B0%D0%BD%D0%B8_%D0%B2%D1%8A%D0%BF%D1%80%D0%BE%D1%81%D0%B8"><b>често задаваните въпроси</b></a>, преди да попитате нещо.</p>
	<p>Ползвайте кирилица, ако пишете на български!</p>
	<p class="error">Тук не е мястото за търсене или поръчка на книги!</p>
	{% if message is defined %}<p class="messages">{{ message }}</p>{% endif %}
	{% include 'App:Feedback:form.html.twig' %}

{% endblock %}
