{% import 'link.html.twig' as link %}
<table class="table table-striped table-condensed table-bordered" style="margin: 0 auto; max-width: 30em">
	<caption>Следните потребители са сканирали или коригирали текстове за библиотеката:</caption>
	<thead>
	<tr>
		<th>№</th>
		<th>Потребител</th>
		<th class="text-right" title="Размер на обработените произведения в мебибайта">Размер (в <abbr title="Кибибайта">KiB</abbr>)</th>
		<th class="text-right" title="Брой на обработените произведения">Брой</th>
	</tr>
	</thead>
	<tbody>
	{% for row in rows %}
		<tr>
			<td>{{ loop.index }}</td>
			<td>{{ link.user_with_email(row.contrib.user) }}</td>
			<td class="text-right">{{ row.size|number_format(0, ',', ' ') }}</td>
			<td class="text-right">{{ row.nbContribs }}</td>
		</tr>
	{% endfor %}
	</tbody>
</table>
