<p>Чрез долния формуляр може да добавите ново произведение към <a href="{{ path('workroom') }}">списъка с подготвяните</a>.</p>
<p>Имате възможност за избор между „{{ 'workroom.typeLong.0'|trans }}“ (сами ще обработите целия текст) или „{{ 'workroom.typeLong.1'|trans }}“ (вие ще сканирате текста, а други потребители ще имат възможността да се включат в коригирането му).</p>
<p>Въведете заглавието и автора и накрая посочете на какъв етап се намира подготовката. Ако още не сте започнали сканирането, изберете „{{ 'workroom.status.0'|trans }}“.</p>
<p>През следващите дни винаги може да промените етапа, на който се намира подготовката на произведението. За тази цел, в основния списък, заглавието ще представлява връзка към страницата за редактиране.</p>
