{% extends 'App::layout.html.twig' %}

{% set title = 'Ново от издателската витрина' %}
{% set page_feed = {'url': path('foreign_books', {'_format': 'rss'})} %}
{% block content %}
	<div class="alert alert-info" role="alert">
		<p>Това е безплатна реклама на книги в други сайтове. Прочетете <a href="{{ path('wiki', {page: 'terms-of-use/foreign-books'}) }}">условията за ползване</a>, ако желаете да се възползвате от нея.</p>
		<p>Книгите са подредени по обратен ред на издаване.</p>
	</div>
	<div class="booklist">
		{% for book in books %}
			<div class="col-md-6 col-book">
				{% include 'App:ForeignBook:book_media.html.twig' with {book: book} %}
			</div>
		{% endfor %}
	</div>
{% endblock %}
