{% extends 'App::layout.html.twig' %}

{% set title = 'Читателски рецензии' %}
{% block content %}
	<ul class="bookshelf">
	{% for review in reviews %}
		<li>{% include 'App:FeaturedBook:book.html.twig' with {'book': review} %}</li>
	{% endfor %}
	</ul>
{% endblock %}
