{% extends 'LibBundle::layout.html.twig' %}

{% set title = 'Търсене' ~ (query ? ' на „'~query.text~'“' : '') %}
{% block content %}

	{% if persons|length %}
		<h2>Личности</h2>
		{% include 'LibBundle:Author:list_with_country.html.twig' with {'authors': persons} %}
	{% endif %}

	{% if texts|length %}
		<h2>Произведения</h2>
		{% include 'LibBundle:Text:list.html.twig' %}
	{% endif %}

	{% if books|length %}
		<h2>Книги</h2>
		{% include 'LibBundle:Book:list.html.twig' %}
	{% endif %}

	{% if series|length %}
		<h2>Авторски поредици</h2>
		{% include 'LibBundle:Series:list.html.twig' %}
	{% endif %}

	{% if sequences|length %}
		<h2>Издателски поредици</h2>
		{% include 'LibBundle:Sequence:list.html.twig' %}
	{% endif %}

	{% if labels|length %}
		<h2>Етикети</h2>
		{% include 'LibBundle:Text:label_list.html.twig' %}
	{% endif %}

	{% if categories|length %}
		<h2>Категории</h2>
		{% include 'LibBundle:Book:category_list.html.twig' %}
	{% endif %}

	{% if work_entries|length %}
		<h2>Работно ателие</h2>
		{% include 'LibBundle:Workroom:entries_list.html.twig' with {'entries': work_entries} %}
	{% endif %}

	{% if not found %}
		<p class="no-items">Нямате късмет. Не открихме нищо за „{{ query.text }}“.</p>
	{% endif %}

	{% if message is defined %}
		<p class="messages">{{ message }}</p>
	{% endif %}

{% endblock %}
