{% extends 'LibBundle::layout.html.twig' %}

{% set title = 'Търсене' %}
{% block content %}

	<p>Потребителите са потърсили:</p>
	{% include 'LibBundle:Search:top_strings.html.twig' %}

{% endblock %}
