<div id="nav-extra-links" class="navbody">
	<h3>Из Мрежата</h3>
	<div class="navcontent">
		{{ render(controller('App:Main:sitebox')) }}
	</div>
	<div class="navfooter"><a href="{{ path('wiki', {page: 'links'}) }}">още връзки »</a></div>
</div>
