{% if pager.haveToPaginate %}
	<div class="text-center">
		{{ pagerfanta(pager, 'twitter_bootstrap3', { 'omitFirstPage': true, 'prev_message': 'Предишна', 'next_message': 'Следваща' }) }}
	</div>
{% endif %}
