<p>Търсим следните <!--трудно откриваеми--> книги в хартиена форма:</p>
<ul class="wanted-list">
	{% for book in books %}
		<li>{{ book.description|raw }}</li>
	{% endfor %}
</ul>
<p>Нужно е единствено сканирането на книгата, последващата корекция на разпознатия текст е подсигурена.</p>
<p><a href="{{ path('feedback') }}">Пишете ни</a>, ако имате някакви въпроси.</p>
<p>Във форума можете да намерите <a href="http://forum.chitanka.info/workroom-scanning.html">информация за сканирането или снимането с цифров фотоапарат</a>.</p>
