{% extends 'layout.html.twig' %}

{% set title = 'Статистика' %}
{% block content %}
	<div class="row">
		<div class="col-md-4">
			{% include 'Statistics/base.html.twig' %}
		</div>
		<div class="col-md-4">
			{% include 'Statistics/authors.html.twig' %}
		</div>
		<div class="col-md-4">
			{% include 'Statistics/texts.html.twig' %}
		</div>
	</div>
{% endblock %}
