<table class="table table-condensed table-striped" style="max-width: 18em">
	<caption>Произведения по форма</caption>
	{% for type in textTypes %}
		<tr>
			<td><a href="{{ path('texts_by_type', {'type': type.code}) }}">{{ type }}</a></td>
			<td class="text-right">{{ type.nrOfTexts }}</td>
		</tr>
	{% endfor %}
</table>
