{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}
{% block field%}
	<a href="{{ path('book_show', {'id': object.id}) }}"><img src="{{ asset(object.hasCover ? cover(object.id, 30) : 'images/nocover.30.png') }}" alt="{{ object.id }}" width="30"></a>
{% endblock %}
