{% if object.bibliomanId %}
	<a href="{{ admin.generateObjectUrl('updateCover', object) }}" class="btn btn-sm btn-default update_cover_link" title="Копиране на корицата от Библиоман">
		<span class="fa fa-image"></span>
		Корица от БМ
	</a>
{% endif %}
