<FilesMatch "\.(jpg|jpeg|png|gif)$">
	ExpiresActive On
	ExpiresDefault "access plus 10 years"
	Header unset Last-Modified
</FilesMatch>

 RewriteEngine On

 RewriteCond %{REQUEST_METHOD} GET
 RewriteCond %{DOCUMENT_ROOT}/cache%{REQUEST_URI} -f
 RewriteRule ^(.*) /cache/thumb/$1 [L]

 RewriteCond %{REQUEST_FILENAME} !-f
 RewriteRule ^(.*)$ index.php?$1 [QSA,L]
