imports:
    - { resource: config_prod.yml }

# Doctrine Configuration
doctrine:
    dbal:
        default_connection:   default
        connections:
            default:
                driver:   pdo_mysql
                host:     localhost
                dbname:   chitanka
                user:     root
                password: ~
                charset:  utf8
                logging:  %kernel.debug%

# Swiftmailer Configuration
# swiftmailer:
#     transport:   gmail
#     username:    my.mailer@googlemail.com
#     password:    mypassword
