# Indentation: 4 spaces, NO tabs
# Comments start with #
# Empty values are indicated with ~

# These parameters can be imported into other config files
# by enclosing the key with % (like %database_user%)
parameters:
    database_host:      localhost
    database_name:      chitanka
    database_user:      root
    database_password:  ~
    database_driver:    pdo_mysql
    database_port:      ~

    mailer_transport:  smtp
    mailer_host:       localhost
    mailer_user:       ~
    mailer_password:   ~

    secret: ThisTokenIsNotSoSecretChangeIt

    locale: bg

    #assets_base_urls: http://chitanka.local
    assets_base_urls: ~

    #style_url:  http://chitanka.local/bundles/lib/css/FILE.css
    style_url:  /bundles/lib/css/FILE.css

    use_http_cache: true

    # Следните променливи се ползват при пращането на електронна поща
    admin:              Администратор
    admin_email:        { admin@localhost: Администратор }
    site_email:         admin@localhost
    work_email:         admin@localhost

#   Път до библиотеката jQuery. По подразбиране false.
#   При false, се ползва локалното копие
    script_library: false

    mirror_sites: ~
    mirror_sites_graphic: ~

    update_db_url: http://api.chitanka.info/db
    update_content_url: http://api.chitanka.info/content
    update_src_url: http://api.chitanka.info/src

    admin_max_per_page: 15

    sitename:    Моята библиотека

    webroot: ~
    docroot: ~

    # This must be a valid timezone constant
    # See “List of Supported Timezones” [http://php.net/manual/en/timezones.php]
    default_timezone: Europe/Sofia

    tmp_dir: /tmp

    # Облици
    skins:
        blackwhite: Белчо
        purple:     Люляк
        olive:      Маслинова нощ
        neg:        Негортокал
        orange:     Портокал
        pink:       Роза
        blue:       Синева
        phoenix:    Феникс

    # Позиция на навигационното меню
    navpos:
        right: Вдясно
        left:  Вляво

    user_css:
        css/onecolumn_frontpage.css: Едноколонна начална страница
        css/show_filesize.css: Видим размер на произведенията
        css/projectlinks_ontop.css: Преместване на връзките към отделните проекти отгоре

    user_js:
        js/move_projects_links.js: Преместване на връзките към отделните проекти в страничното меню

    download_formats: [txt.zip, fb2.zip, epub, sfb.zip]

    download_file: AUTHOR - SERIES - SERNO. TITLE-ID

    workroom_remote: false
    workroom_root: ~
    workroom_url: http://workroom.chitanka.info

    wiki_url: http://wiki.chitanka.info/$1

    menu:
        Читалня:
            authors:
                text: Автори
                title: Начална страница за преглед на авторите
            translators:
                text: Преводачи
                title: Начална страница за преглед на преводачите
            books:
                text: Книги
                title: Начална страница за преглед на книгите
            texts:
                text: Произведения
                title: Начална страница за преглед на произведенията
            text_random:
                text: Случайна творба
                title: Показване на случайно произведение
            series:
                text: Серии
                title: Начална страница за преглед на авторските серии
            sequences:
                text: Поредици
                title: Начална страница за преглед на издателските поредици
            texts_comments:
                text: Читателски мнения
                title: Читателски коментари за произведенията
        Работилница:
            new:
                text: Новодобавено
                title: Списък на произведенията по месец на добавяне
            workroom:
                text: Работно ателие
                title: Списък на произведения, подготвящи се за добавяне
            torrents:
                text: Торенти
                title: ~
            statistics:
                text: Статистика
                title: ~
