{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<style>
		textarea.form-control {
			min-height: 12em;
		}
	</style>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="//cdn.ckeditor.com/4.5.8/standard/ckeditor.js"></script>
	<script src="//cdn.ckeditor.com/4.5.8/standard/adapters/jquery.js"></script>
	<script>
		$(function() {
			$('textarea.richhtml').ckeditor();
		});
	</script>
{% endblock %}

{% block logo %}
	<a class="logo" href="{{ path('homepage') }}">
		<span>Моята библиотека</span>
	</a>
{% endblock %}
{% block sonata_breadcrumb %}
	<ol class="nav navbar-top-links breadcrumb">
		<li>
			<a href="{{ path('admin_foreign_book_for_publisher_list') }}">Моите книги</a>
		</li>
	</ol>
{% endblock %}
{% block sonata_top_nav_menu %}
{% endblock %}
{% block sonata_side_nav %}
{% endblock %}
