<table class="content">
	<caption>Налични торенти</caption>
	<tr class="even">
		<th>Дата</th>
		<th>Файл</th>
		<th>Кратко описание</th>
	</tr>
	<tr class="odd">
		<td>13 декември 2010</td>
		<td><a href="/tor/chitanka.info-static-2010-12-13.torrent">chitanka.info-static-2010-12-13</a></td>
		<td>Статична версия на „Моята библиотека“ към 13 декември 2010 г. Във файла README.html е обяснено как се ползва. <a href="http://forum.chitanka.info/static-version-t1517.html">Пускайте коментарите си във форума.</a></td>
	</tr>
	<tr class="even">
		<td>24 май 2010</td>
		<td><a href="/tor/chitanka.info-static-2010-05-24.torrent">chitanka.info-static-2010-05-24</a></td>
		<td>Статична версия на „Моята библиотека“ към 24 май 2010 г. Във файла README.html е обяснено как се ползва. <a href="http://forum.chitanka.info/static-version-t1517.html">Пускайте коментарите си във форума.</a></td>
	</tr>
	<tr class="odd">
		<td>17 януари 2010</td>
		<td><a href="/tor/chitanka.info-static-2010-01-17.torrent">chitanka.info-static-2010-01-17</a></td>
		<td>Статична версия на „Моята библиотека“ към 17 януари 2010 г. Във файла README.html е обяснено как се ползва. <a href="http://forum.chitanka.info/static-version-t1517.html">Пускайте коментарите си във форума.</a></td>
	</tr>
</table>
