<table class="content">
	<caption>Налични торенти</caption>
	<tr class="even">
		<th>Дата</th>
		<th>Файл</th>
		<th>Кратко описание</th>
	</tr>
	<tr class="odd">
		<td>3 юни 2012</td>
		<td><a href="http://static.chitanka.info/tor/chitanka-for-server-2012-06-03.torrent">chitanka-for-server-2012-06-03</a></td>
		<td>Динамична версия на „Моята библиотека“ към 3 юни 2012 г. Във файла INSTALL.txt е обяснено как се инсталира. <a href="http://forum.chitanka.info/chitanka-download-own-server-t3178.html">Пускайте коментарите си във форума.</a></td>
	</tr>
	<tr class="odd">
		<td>13 декември 2010</td>
		<td><a href="http://static.chitanka.info/tor/chitanka.info-static-2010-12-13.torrent">chitanka.info-static-2010-12-13</a></td>
		<td>Статична версия на „Моята библиотека“ към 13 декември 2010 г. Във файла README.html е обяснено как се ползва. <a href="http://forum.chitanka.info/static-version-t1517.html">Пускайте коментарите си във форума.</a></td>
	</tr>
	<tr class="even">
		<td>24 май 2010</td>
		<td><a href="http://static.chitanka.info/tor/chitanka.info-static-2010-05-24.torrent">chitanka.info-static-2010-05-24</a></td>
		<td>Статична версия на „Моята библиотека“ към 24 май 2010 г. Във файла README.html е обяснено как се ползва. <a href="http://forum.chitanka.info/static-version-t1517.html">Пускайте коментарите си във форума.</a></td>
	</tr>
	<tr class="odd">
		<td>17 януари 2010</td>
		<td><a href="http://static.chitanka.info/tor/chitanka.info-static-2010-01-17.torrent">chitanka.info-static-2010-01-17</a></td>
		<td>Статична версия на „Моята библиотека“ към 17 януари 2010 г. Във файла README.html е обяснено как се ползва. <a href="http://forum.chitanka.info/static-version-t1517.html">Пускайте коментарите си във форума.</a></td>
	</tr>
</table>
