{% extends 'App::layout.html.twig' %}

{% set title = 'Нови книги в други сайтове' %}
{% set page_feed = {'url': path('foreign_books', {'_format': 'rss'})} %}
{% block content %}
	<p><small>Това е безплатна реклама на книги в други сайтове.</small></p>
	<ul class="bookshelf">
	{% for book in books %}
		<li>{% include 'App:ForeignBook:book.html.twig' %}</li>
	{% endfor %}
	</ul>
{% endblock %}
