{% extends '@EasyAdmin/page/content.html.twig' %}

{% block main %}
	<p>Добре дошли в кухнята на библиотеката!</p>
	<p>Бъдете внимателни и обмисляйте добре всяка промяна!</p>
	<p><a href="{{ path('homepage') }}"><i class="fa fa-external-link"></i> Към библиотеката</a></p>
{% endblock %}
