{% import 'helper.html.twig' as helper %}
<ul>
{% for category in categories %}
	<li>
		<a href="{{ path('books_by_category', {'slug': category.slug}) }}">{{ category.name }}</a>
		{{ helper.printNrOfItems(category.nrOfBooks) }}
	</li>
{% endfor %}
</ul>
