{% extends 'App::layout.html.twig' %}

{% set title = 'Книги' %}
{% block head %}
	{{ parent() }}
	<link rel="search" type="application/opensearchdescription+xml" href="{{ path('books_search', {'_format': 'osd'}) }}" title="Търсене по книги в Моята библиотека" />
{% endblock %}
{% block content %}
	<h2>По азбучен ред</h2>
	{% include 'App:Book:navigation.html.twig' with {'letter': ''} %}

	<h2>По категория</h2>
	{% include 'App:Book:category_tree.html.twig' with {'level': 0} %}
{% endblock %}
