{% extends 'App::layout.html.twig' %}

{% set title = 'Книги без корица' %}
{% block content %}

	<div class="well">Има {{ pager.total }} книги без корица.</div>
	{% include 'App:Book:list.html.twig' %}
	{% include 'App::pager.html.twig' %}

{% endblock %}