{% extends 'layout.html.twig' %}

{% set title = 'Книги без връзка към Библиоман' %}
{% block content %}

	<div class="well">Има {{ pager.total }} книги без връзка към Библиоман.</div>
	{% include 'Book/list.html.twig' %}
	{% include 'pager.html.twig' %}

{% endblock %}
