{% extends 'App::layout.html.twig' %}

{% set title = 'Търсене' ~ (query ? ' на „'~query.text|e~'“' : '') ~ ' в книгите' %}
{% block content %}

	{% if books|length %}
		{% include 'App:Book:list.html.twig' %}
	{% endif %}

	{% if not found %}
		<p class="no-items">Не открихме никакви книги.</p>
	{% endif %}

{% endblock %}
