<fieldset class="infobox">
	<legend>Допълнителна информация<a href="#after-extrainfobox" class="assistive"> (Прескачане на допълнителната информация)</a></legend>

	{% if text.book and text.book.has_cover %}
		{% import 'LibBundle::book.html.twig' as booktools %}
		{{ booktools.cover_div(text.book, 200) }}
	{% endif %}

	{{ text.extrainfohtml(asset('/'))|raw }}

	<hr>
	<p>Последна редакция: {{ text.currev.date|humandate }}</p>
</fieldset>
<div id="after-extrainfobox" class="assistive"><!-- FIXME redundant --></div>
