<form action="{{ path('text_read', {'id': id}) }}" method="post" class="action-form" data-credentials="user">
	<button type="submit" title="Отбелязване na произведението като прочетено">Отбелязване като прочетено</button>
</form>
