<form action="{{ path('text_read', {'id': id}) }}" method="post" data-credentials="user">
	<button type="submit" title="Отбелязване na произведението като прочетено" class="btn btn-default">Отбелязване като прочетено</button>
</form>
