{% for type in types %}
	<entry>
		<title>{% trans 'text.type.plular.' ~ type %}</title>
		<id>{{ helper.urn('texts_by_type', [type]) }}</id>
		{{ helper.link(helper.url('texts_by_type', {'type': type})) }}
		<content type="text">Произведения от вид „{% trans 'text.type.plular.' ~ type %}“</content>
	</entry>
{% endfor %}
