<table class="table table-striped table-condensed table-bordered">
<thead>
	<tr>
		<th>Дата</th>
		<th></th>
		<th></th>
		<th></th>
		<th style="width: 25%">Заглавие</th>
		<th>Автор</th>
		<th>Етап на работата</th>
		<th>Потребител</th>
	</tr>
</thead>
<tbody>
{% for entry in entries %}
	<tr class="{{ cycle(['even', 'odd'], loop.index) }} {{ entry.isFrozen ? 'frozen' : '' }}" id="e{{ entry.id }}">
		{% include 'App:WorkEntry:item.html.twig' %}
	</tr>
{% endfor %}
</tbody>
</table>
