{% import "App::navi.html.twig" as navi %}
<div class="text-center" title="Това са препратки към списъци на произведенията, започващи със съответната буква">
	{{ navi.letter_links('texts_by_alpha', letter) }}
</div>
