{% extends 'LibBundle::layout.html.twig' %}

{% set title = 'Нови произведения за ' ~ ('month.'~month)|trans ~' '~ year %}
{% block content %}
	<div class="history-wrapper">
		{% include 'LibBundle:History:toc.html.twig' with {'route': 'new_texts_by_month'} %}
		{% include 'LibBundle:History:texts_list.html.twig' %}
		{% if texts_by_id|length > 1 %}
			{% set filename = 'texts-' ~ year ~ '-' ~ month %}
			{% include 'LibBundle:Text:multi_download_form.html.twig' with {'texts': texts_by_id, 'filename': 'texts-'~year~'-'~month} %}
		{% endif %}
		{% include 'LibBundle::pager.html.twig' %}
	</div>
{% endblock %}
