<div class="dropdown navbar-right" role="navigation">
	<a data-toggle="dropdown" href="#">
		<i class="fa fa-calendar"></i>
		По месец <span class="caret"></span>
	</a>
	<ul class="dropdown-menu" role="menu">
	{% for date in dates %}
		<li><a href="{{ path(route, {'year': date.year, 'month': date.month}) }}">{{ ('month.'~date.month) | trans }} {{ date.year }} ({{ date.count }})</a></li>
	{% endfor %}
	</ul>
</div>
