<?php
function hex2rgba($hexColor, $alpha)
{
	$red   = substr($hexColor, 1, 2);
	$green = substr($hexColor, 3, 2);
	$blue  = substr($hexColor, 5, 2);

	return sprintf('rgba(%d, %d, %d, %f)', hexdec($red), hexdec($green), hexdec($blue), $alpha);
}

$defSkinName = 'orange';
$defNavPos = 'right';
if ( empty($logoImg) ) {
	$logoImg = 'logo_transparent.png';
}

// navigation menu width im em-s
$navWidth = 12;
$contentMarginTop = '4em';
$contentMarginSide = $navWidth + 1.5;

$opts = array();
$ropts = $_GET['o'];
if ( !empty($ropts) ) {
	$opts = explode(',', $ropts);
}

$skinName = empty($opts[0]) ? $defSkinName : $opts[0];
$GLOBALS['navPos'] = empty($opts[1]) ? $defNavPos : $opts[1];
$colorFile = dirname(__FILE__) . "/$skinName.inc";

if ( !is_readable($colorFile) ) {
	$colorFile = dirname(__FILE__) . "/$defSkinName.inc";
}

require $colorFile;


$imgDir = 'images/';

$sprites = array(
	'actions'   => $imgDir . 'sprite-actions.png',
	'basebig'   => $imgDir . 'sprite-basebig.png',
	'progress'  => $imgDir . 'sprite-progress.png',
	'rating'    => $imgDir . 'sprite-rating.png',
	'sort'      => $imgDir . 'sprite-sort.png',
	'texttypes' => $imgDir . 'sprite-texttypes.png',
);

if ( ! function_exists('valueAfterNav') ) {
	/** return the approriate value according to the navigation position */
	function valueAfterNav($leftVal, $rightVal, $noNavVal = '0')
	{
		switch( $GLOBALS['navPos'] ) {
			case 'right': return $rightVal;
			case 'left':  return $leftVal;
			default: return $noNavVal;
		}
	}
}
?>
/*
Използва се следната подредба на декларациите:
	display
	z-index
	position, top, right, bottom, left
	float, clear
	width, height
	margin, padding
	overflow
	border
	color
	background
	line-height
	font
	text
	други
*/
@media screen {
/* html5 elements */
header, hgroup, footer, aside, nav, article {
	display: block;
}

/* цялата страница и тялото й */
html,
body {
	color: <?php echo $mainFgColor?>;
	background-color: <?php echo $mainBgColor?>;
}
/* тялото на страницата */
body {
	margin: 0;
	line-height: 1.5em;
}

/* заглавия */
h1,
h2,
h3,
h4,
h5,
h6 {
	/*clear: both;*/
	margin: 1em 0 1em;
	padding: .2em 1em .1em;
	-moz-border-radius: 1em;
	line-height: 1.3em;
	font-weight: normal;
	text-align: center;
}
h1, hgroup h2 {
	color: <?php echo $headerFgColor ?>;
	background-color: <?php echo $headerBgColor ?>;
	border-bottom: none;
	border-radius: 1em;
	/*-moz-border-radius: 1em;*/
	text-shadow: .1em .05em .1em <?php echo $headerShadowColor?>;
}
h2,
h3,
h4,
h5,
h6 {
	-moz-border-radius: 0 1em;
	-moz-box-shadow: 2px 4px 7px #e0e0e0;
	color: <?php echo $mainFgColor ?>;
	background-color: <?php echo $mainBgColor ?>;
}
h1 p,
h2 p,
h3 p,
h4 p,
h5 p,
h6 p {
	text-align: center;
	text-indent: 0;
}
h1 {
	margin-top: 0;
	font-size: 1.5em;
}
h2 {
	font-size: 1.4em;
}
h3 {
	font-size: 1.3em;
}
h4 {
	font-size: 1.2em;
}
h5 {
	font-size: 1.1em;
}
h6 {
	font-size: 1em;
}
/* хоризонтални линии */
hr {
	border: solid <?php echo $logoFgColor?>;
	border-width: thin 0 0 0;
}

/* кутии за групиране */
fieldset,
article {
	margin: 1em 0;
	padding: 1em;
	border: thin solid <?php echo $fieldsetBordColor?>;
	border-radius: 0 1em;
	-moz-border-radius: 0 1em;
}
article footer {
	margin-top: 0.5em;
	border-top: thin solid <?php echo $fieldsetBordColor?>;
	font-size: 90%;
}
form.inline,
form.inline fieldset {
	display: inline;
	margin: 0;
	padding: 0;
	border: none;
	vertical-align: middle;
}
fieldset > ul,
#footer ul {
	margin: 0 0 0 1em;
	padding: 0 .6em;
}
form fieldset > ul {
	margin: 0 auto;
	text-align: center;
}
form fieldset > ul li,
noscript div {
	display: inline;
}
form fieldset > ul li {
	padding: .4em .3em;
	border: thin solid transparent;
	line-height: 2em;
	white-space: nowrap;
}

/* заглавията в кутиите за групиране */
legend {
	font-style: italic;
}

dt {
	font-weight: bold;
}
.interview dt {
	margin-top: 1.5em;
}
dd {
	margin-left: 1.5em;
}
/* абзаци */
p {
	margin: 0;
	text-indent: 20px;
}
ul,
ol,
dl {
	margin: 0 .5em 0 25px;
}
em em {
	font-weight: bold;
}
pre {
	margin: 0;
	line-height: 1.3em;
	overflow: auto;
}
.text-content pre {
	margin-left: 25px;
}
pre p {
	display: inline;
}
blockquote {
	margin: 2.5em 2em;
}
/* полета за цитати */
blockquote.letter,
blockquote.cite,
blockquote.poem {
	padding: .5em 0 .5em 1em;
	border-left: medium dotted <?php echo $fieldsetBordColor?>;
}
blockquote,
q {
	font-style: italic;
}
blockquote em,
q em {
	font-weight: bold;
}
blockquote strong,
q strong {
	font-variant: small-caps;
}
blockquote pre {
	font-size-adjust: 0.8;
}

/* полета за код */
code {
	padding: .1em .4em;
	border: thin dotted <?php echo $codeBordColor?>;
	color: <?php echo $codeFgColor?>;
	background-color: <?php echo $codeBgColor?>;
}

/* картинки */
img {
	border: none;
	vertical-align: middle;
}
.image {
	margin: 1em auto;
	text-align: center;
	text-indent: 0;
}
.float-left,
.floatleft {
	float: left;
	margin: .5em 1em 1em 0;
}
.float-right,
.floatright {
	float: right;
	margin: .5em 0 1em 1em;
}
/*img.float-left,
img.float-right {
	border: thin solid silver;
}*/

/* елементи на формуляри */
input,
textarea,
select,
button {
	color: inherit;
	background-color: inherit;
	border: thin solid <?php echo $buttonLinksFgColor?>;
}
input,
textarea,
button {
	-moz-border-radius: .5em;
	-webkit-border-radius: .5em;
	border-radius: .5em;
	padding: .05em .2em;
}
/* фокусирани елементи на формуляри */
input:focus,
textarea:focus,
select:focus,
button:focus {
	color: inherit;
	background-color: <?php echo $formElemFocusBgColor?>;
}
/* бутони за пращане на формуляр */
input[type=submit],
button[type=submit] {
/*	color: <?php echo $submitButtonFgColor?>;
	background-color: <?php echo $submitButtonBgColor?>;*/
	color: <?php echo $buttonLinksFgColor?>;
	background-color: <?php echo $buttonLinksBgColor?>;
	border: thin solid <?php echo $buttonLinksFgColor?>;
	-moz-box-shadow: .15em .15em .3em #ccc;
	font-weight: bold;
	font-variant: small-caps;
}
input[type=submit]:focus,
input[type=submit]:hover,
button[type=submit]:focus,
button[type=submit]:hover {
	color: <?php echo $buttonLinksBgColor?>;
	background-color: <?php echo $buttonLinksFgColor?>;
}
/* картинки в ролята на бутони */
input[type=image] {
	vertical-align: middle;
}

/* етикети — наименования на елементите */
label {
	cursor: pointer;
}
/* span-ове, имащи атрибут „title“ */
span[title] {
	border-bottom: thin dotted <?php echo $mainFgColor?>;
}
abbr, acronym {
	letter-spacing: .1em;
}

/* връзките с техните състояния */
a {
	color: <?php echo $linkFgColor?>;
	background-color: inherit;
}
a:active {
	color: <?php echo $alinkFgColor?>;
	background-color: inherit;
}
a:visited {
	color: <?php echo $vlinkFgColor?>;
	background-color: inherit;
}
a,
.pseudolink {
	text-decoration: underline;
	cursor: pointer;
}
a:hover,
.pseudolink:hover,
a.selflink {
	text-decoration: none;
}
/* връзки в заглавия */
h1 a,
h1 a:visited,
h2 a,
h2 a:visited {
	color: inherit;
	background-color: inherit;
}

#content-wrapper {
	position: relative;
	padding: 0 1.5em;
}
/* елемент, обхващащ основното съдържание */
#main-content-wrapper {
<?php if ( $GLOBALS['navPos'] != 'none' ): ?>
	float: left;
	width: 100%;
<?php endif; ?>
	margin: <?php echo $contentMarginTop?> 0 1.5em 0;
}

/* основното съдържание на страниците, без менюто и разните ленти */
#main-content {
	margin: 0 <?php echo valueAfterNav('0 0 '.$contentMarginSide.'em', $contentMarginSide.'em 0 0', '1em')?>;
	padding: 0;
}
.p_homepage #main-content {
	margin: 0;
}

/* съобщения, информиращи потребителя за нещо */
.messages {
	margin-bottom: 1em;
	padding: .5em 3em;
	border-bottom: thick solid <?php echo $headerBordColor?>;
	font-size: 1.1em;
}

/* навигационното меню */
#navigation {
	float: left;
	width: <?php echo $navWidth?>em;
	margin: 0 0 1em <?php echo valueAfterNav('-100%', '-'.$navWidth.'em')?>;
	padding: 0;
}
#navigation ul {
	margin: 0;
	padding: 0;
}
#navigation a {
	text-decoration: none;
}
#navigation .navbody {
	margin-bottom: 1em;
	border: thin solid <?php echo $navTitleBgColor?>;
	border-radius: .7em;
	-moz-border-radius: .7em;
	color: <?php echo $navFgColor?>;
	background-color: <?php echo $navBgColor?>;
	font-size: .9em;
}
#navigation .navcontent {
	padding: .2em .6em;
	text-align: center;
}
#navigation .navfooter {
	margin: 1em .5em 0 0;
	font-size: 95%;
	text-align: right;
}
#navigation h3 {
	margin: 0;
	border: none;
	border-radius: .6em .6em 0 0;
	-moz-border-radius: .6em .6em 0 0;
	-webkit-border-radius: .6em .6em 0 0;
	box-shadow: none;
	-moz-box-shadow: none;
	font-size: 1em;
}
#navigation h3,
.tab.selected {
	padding-left: .2em;
	color: <?php echo $navTitleFgColor?>;
	background-color: <?php echo $navTitleBgColor?>;
	font-weight: bold;
	text-shadow: .1em .1em .1em <?php echo $navTitleShadowColor?>;
}
#navigation h4 {
	margin: .1em 0 .3em;
	font-size: 1.1em;
}
#navigation h4 a {
	display: block;
}
#navigation li {
	margin-left: 0;
	padding-left: .6em;
	list-style-type: none;
}
#navigation .navbody .textmenu li:hover,
#navigation .navbody .textmenu li:hover a {
	color: <?php echo $headerFgColor?>;
	background-color: <?php echo $headerBgColor?>;
}
#navigation .navbody .textmenu li:last-child {
	border-radius: 0 0 .6em .6em;
	-moz-border-radius: 0 0 .6em .6em;
	-webkit-border-radius: 0 0 .6em .6em;
}
#navigation .selected,
option[selected=selected],
.hilite {
	border: solid <?php echo $headerBordColor?>;
	border-width: thin 0;
	color: <?php echo $headerFgColor?>;
	background-color: <?php echo $headerBgColor?>;
	font-weight: bold;
	font-size: 95%;
}
#navigation .selected a {
	color: <?php echo $headerFgColor?>;
	background-color: <?php echo $headerBgColor?>;
}

#menu-helpers li:before {
	content: "»\00A0";
}

/* полето с името на библиотеката */
#logo {
	position: relative;
	margin: <?php echo $contentMarginTop?> 0 .2em 0;
	text-align: center;
	/*width: 12em;*/
	overflow: hidden;
	/*border: thin solid <?php echo $navTitleBgColor?>;*/
}
#logo a {
	display: block;
	height: 191px;
	padding-left: 200px; /* hide the text */
	color: <?php echo $logoFgColor?>;
	font-style: italic;
	font-size: 1.1em;
	font-weight: normal;
	text-decoration: none;
}
#logo span {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url(<?php echo $imgDir . $logoImg?>) no-repeat center;
}
#nav-main a,
.tab a {
	display: block;
	color: <?php echo $navLinkFgColor?>;
	background-color: inherit;
	text-decoration: none;
}

/* личните инструменти */
#personal {
	z-index: 2;
	display: inline;
	position: absolute;
	top: 1em;
	<?php echo valueAfterNav('right: 1.5em', 'left: 1.5em', '')?>;
	margin: .2em 0 0 0;
	padding: 0;
	width: 25%; /* liquid, should play well with the search form */
	border: none;
	text-align: <?php echo valueAfterNav('right', 'left', 'left')?>;
}
#personal ul {
	display: inline;
	margin: 0;
	padding: 0;
}
#personal li {
	display: inline;
	margin: <?php echo valueAfterNav('0 0 0 .2em', '0 .2em 0 0')?>;
	padding: 0 .4em;
	font-size: .9em;
}

/* формуляра за търсене */
#search {
	z-index: 1;
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	padding: 1.2em 0 1.2em 0;
	width: 100%;
	border: none;
	color: <?php echo $toolbarFgColor?>;
	background-color: <?php echo $toolbarBgColor?>;
	background-image: -moz-linear-gradient(top, <?php echo $toolbarBgColor ?>, <?php echo $mainBgColor ?>);
	<?php echo valueAfterNav('', 'text-align: right;', '')?>
}
#search form,
#search div {
	display: inline;
}
#search form {
	margin-<?php echo valueAfterNav('left', 'right', 'left')?>: <?php echo ($contentMarginSide+1.5).'em'?>;
	width: 75%; /* liquid, should play well with the personal bar */
}
#search ul,
#search li {
	display: inline;
	padding: 0;
}
#search input, #search select, #search button {
	border: thin solid <?php echo $toolbarBordColor?>;
}
#search button {
	color: inherit;
	background-color: inherit;
	-moz-box-shadow: none;
}
/* основното поле за търсене */
#q {
	width: 45%;
}
.user-dashboard a {
	padding-left: 1.6em;
	background-image: url(<?php echo $sprites['progress']?>);
	background-repeat: no-repeat;
	background-position: 2px -260px;
}
.user-dashboard a span {
	display: none;
}

/* полета за търсене */
input.search {
	padding-left: 1.4em;
	background-image: url(<?php echo $sprites['actions']?>);
	background-repeat: no-repeat;
	background-position: 3px -523px;
}

/* заглавие за група от текстове в списъчните страници */
.superlist legend,
.superlist legend a {
	color: <?php echo $legendFgColor?>;
	background-color: transparent;
	font-weight: bold;
}
.superlist {
	/*clear: both;*/
	padding: .5em 0 1em .5em;
	font-size: 1em;
}
.superlist dl:hover {
	background-image: -moz-linear-gradient(top, <?php echo $tocBgColor ?>, <?php echo $footerBgColor ?> 35%, <?php echo $footerBgColor ?> 65%, <?php echo $tocBgColor ?>);
}

.superlist dl {
	margin: 0;
	padding: 0;
	height: 1%;
	overflow: hidden;
}
.superlist dt, .superlist dd {
	margin: 0 0 0 .3em;
	padding: 0;
}

.superlist dt {
	float: left;
	width: 25em;
	max-width: 40%;
	font-weight: normal;
}
.superlist dt.noauthor {
	width: 50em;
	max-width: 80%;
}
.superlist dd {
	float: left;
}
dd.tauthor {
	width: 25em;
	max-width: 40%;
}
dd.extra {
	/*display: none;*/
}
dd.download {
	float: right;
	max-width: 24%;
	margin-right: .6em;
}
dl.download-multi dt,
dl.download-multi dd {
	padding-top: .4em;
}
dl.download-multi dt {
	width: 82%;
	max-width: 82%;
	text-align: right;
	font-style: italic;
	font-weight: normal;
}
dl.download-multi dd.download {
	border-top: 1px solid <?php echo $fieldsetBordColor ?>;
	padding-left: 20px;
}
dd.orig-name {
	width: 20em;
	max-width: 33%;
}
dd.country {
	max-width: 25%;
}

.series-list dt {
	width: 22em;
	max-width: 35%;
}
.series-list dd.tauthor {
	width: 20em;
	max-width: 30%;
}

.booklist dt {
	font-weight: bold;
	float: none;
	width: 50em;
	max-width: 80%;
}
.booklist a {
	text-decoration: none;
}
.booklist a:hover {
	text-decoration: underline;
}

.bookcat, .bookseq {
	font-size: 90%;
}

.cover-and-links {
	float: left;
	margin-bottom: 1em;
}
.cover-and-links .cover {
	float: none;
}
.qrcode {
	float: right;
	margin: 20px;
}

.book-content {
	clear: both;
}
.book-content h2,
.book-content h3,
.book-content h4,
.book-content h5,
.book-content h6 {
	margin: 0;
	padding: .3em 0 0 2em;
	-moz-box-shadow: none;
	font-size: 1.1em;
	text-align: left;
	background-color: inherit;
}
.book-content h2.inner-text,
.book-content h3.inner-text,
.book-content h4.inner-text,
.book-content h5.inner-text,
.book-content h6.inner-text {
	padding-left: .1em;
}
.book-content h2.inline-text {
	margin-top: 1.5em;
	font-weight: bold;
}
.book-content .collapsed h2.inline-text {
	font-weight: normal;
}

.adbook img {
	margin: 1em 0;
}

li img {
	vertical-align: middle;
}

/* връзки за определени действия и състояния */
.edit,
.delete,
.new,
.ok,
.read,
.feed,
.singleuser,
.multiuser,
.act-info,
.zoom,
.save,
.email,
.close,
#cluetip-close a,
.idea,
.stop,
.error,
.frozen .progress,
span.frozen {
	position: relative;
	padding-left: 1.35em;
	background: url(<?php echo $sprites['actions']?>) no-repeat top left;
}
.delete {
	background-position: 0 -66px;
}
.ok,
.read {
	background-position: 1px -262px;
}
.edit {
	background-position: 0 0px;
}
.new {
	background-position: 0 -132px;
}
.feed {
	background-position: 0 -854px;
}
.multiuser {
	background-position: 0 -656px;
}
.singleuser {
	background-position: 0 -590px;
}
.act-info {
	background-position: 0 -920px;
}
.zoom {
	background-position: 0 -330px;
}
.save {
	background-position: 0 -198px;
}
.email {
	background-position: 0 -986px;
}
.stop,
.error,
.frozen .progress,
span.frozen {
	background-position: 0 -462px;
}
.close,
#cluetip-close a {
	background-position: 0 -396px;
}
.idea {
	background-position: 0 -1052px;
}

/* Типове текстове */
.title,
.texttype {
	padding-left: 1.3em;
	background: url(<?php echo $sprites['texttypes']?>) no-repeat top left;
}
li.title {
	margin-left: 0;
	list-style-type: none;
}
.t-othergenre,
.t-essay,
.t-article,
.t-play,
.t-comedy,
.t-tragedy,
.t-screenplay,
.t-anecdote,
.t-pritcha,
.t-gamebook,
.t-science,
.t-biography,
.t-intro,
.t-outro,
.t-travelnotes,
.t-other,
.t-textbook,
.t-feuilleton,
.t-letter,
.t-ocherk,
.t-review,
.t-interview,
.t-memo,
.t-docu,
.t-speech {
	background-position: 0 -48px;
}
.t-shortstory,
.t-novelette {
	background-position: 0 -114px;
}
.t-poetry,
.t-poem,
.t-prosepoetry,
.t-haiku {
	background-position: 0 -180px;
}
.t-novel {
	background-position: 0 -246px;
}
.t-novella {
	background-position: 0 -312px;
}
.t-tale,
.t-fable {
	background-position: 0 -378px;
}


/* Иконки за прогрес */
.progress {
	padding-left: 1.1em;
	background: url(<?php echo $sprites['progress']?>) no-repeat top left;
}
.progress-0{ background-position: 0 0;  }
.progress-1{ background-position: 0 -65px;  }
.progress-2{ background-position: 0 -130px;  }
.progress-3{ background-position: 0 -195px;  }
.progress-4{ background-position: 0 -260px;  }
.progress-5{ background-position: 0 -325px;  }
.progress-6{ background-position: 0 -390px;  }
.progress-7{ background-position: 0 -455px;  }


/* Оценки по списъчните страници */
.rating {
	position: relative;
	padding-left: 1.25em;
	background: url(<?php echo $sprites['rating']?>) no-repeat top left;
	font-weight: bold;
}
.rating-10 { background-position: 0 -29px; }
.rating-1 { background-position: 0 -75px; }
.rating-9 { background-position: 0 -121px; }
.rating-6 { background-position: 0 -167px; }
.rating-3 { background-position: 0 -213px; }
.rating-12 { background-position: 0 -259px; }
.rating-4 { background-position: 0 -305px; }
.rating-5 { background-position: 0 -351px; }
.rating-0 { background-position: 0 -397px; }
.rating-11 { background-position: 0 -443px; }
.rating-7 { background-position: 0 -489px; }
.rating-2 { background-position: 0 -535px; }
.rating-8 { background-position: 0 -581px; }


.feed-standalone a,
#helpus a {
	background: url(<?php echo $sprites['basebig']?>) no-repeat top left;
}
#helpus a {
	display: block;
	padding: 2.5em 0 0 0;
	background-position: 50% -1164px;
}
.feed-standalone a {
	position: relative;
	padding-left: 1.25em;
	background-position: 50% -1032px;
}


.feed-standalone {
	float: right;
	margin: 0 0 .5em .5em;
	font-size: 2em;
}

/* кутия за съдържание — появява се на доста страници */
#toc {
	float: left;
	margin: 1em 1em 1em 0;
	padding: .8em;
	border: thin solid <?php echo $tocBordColor?>;
	border-radius: 1em;
	-moz-border-radius: 1em;
	color: <?php echo $tocFgColor?>;
	background-color: <?php echo $tocBgColor?>;
	font-size: .9em;
}
/* заглавие в кутията за съдържание */
#toc h3 {
	display: inline;
	margin: 0;
	padding: .5em;
	border: 0;
	color: inherit;
	background-color: inherit;
	font-size: 1.1em;
	font-weight: bold;
	text-shadow: none;
	box-shadow: none;
	-moz-box-shadow: none;
}
/* неподредени списъци в кутията за съдържание */
#toc ul, #toc ol {
	margin: .2em;
	padding-left: 1.5em;
}
#toc ul a, #toc ol a {
	display: block;
	text-decoration: none;
}
#toc ul a:hover, #toc ol a:hover {
	color: <?php echo $headerFgColor?>;
	background-color: <?php echo $headerBgColor?>;
}
#textstart {
	clear: both;
}
/* кутията, която обикновено е най-долу */
#footer {
	clear: both;
	margin: 0;
	padding: 5em 0 1em;
	background-color: <?php echo $toolbarBgColor?>;
	background-image: -moz-linear-gradient(bottom, <?php echo $toolbarBgColor ?>, <?php echo $mainBgColor ?>);
	font-size: 90%;
	text-align: center;
}
#footer li {
	display: inline;
	margin: 0 1.2em;
}

.propaganda,
.propaganda p {
	overflow: hidden;
	text-indent: 0;
	text-align: center;
}
.propaganda li {
	margin: .2em 0;
	padding: .2em 0;
	border: thin solid <?php echo $navTitleBgColor?>;
}
/* различни кутии — легенда, за авторските права, информационна */
#legend,
#copyright,
.infobox,
.readercomment,
.tabbedpanebody,
#tooltip,
article,
fieldset {
	clear: both;
	color: <?php echo $mainFgColor?>;
	background-color: <?php echo $tocBgColor?>;
}
.annotation {
	clear: none;
}
.infobox {
	margin-bottom: 2em;
}
/* читателските мнения */
#readercomments ul {
	margin: 0;
	padding-left: 1em;
	list-style-type: none;
}
/* first ul child of readercomments */
#readercomments > ul {
	padding-left: 0;
}
.commenttext {
	clear: both;
	overflow: auto;
}
.writingrules {
	margin-bottom: 1em;
	padding: .4em .6em;
	border: medium dotted <?php echo $fieldsetBordColor?>;
	line-height: 1.4em;
	font-size: 1.1em;
}

#tooltip {
	position: absolute;
	z-index: 3000;
	border: thin solid <?php echo $mainFgColor?>;
	font-size: .9em;
	padding: .4em .6em;
}
#tooltip h3,
#tooltip div {
	margin: 0;
}

#legend {
	margin-top: 3em;
}

#copyright ul,/* неподредени списъци в кутията за авторските права */
.superlist ul,/* списъци със заглавия */
ul.superlist {
	margin: 0;
	list-style-type: none;
}
/* съобщението в края на всеки текст — „Край“ или „Към…“ */
#text-end-msg {
	clear: both;
	margin-top: 1em;
	font-variant: small-caps;
	text-align: center;
}
#txt-edit-msg {
	margin-top: 1em;
	font-size: .9em;
}
/* кутия, съдържаща текст за предварителен преглед — при редактиране */
#previewbox {
	margin-bottom: 1em;
	padding: 1em;
	border: thin outset <?php $codeBordColor?>;
}

/* връзка за изчистване на склада за съответната страница */
#cache-link a {
	display: none;
}
#toggle-nav-link {
	z-index: 10;
	position: absolute;
	top: 1.2em;
	<?php echo valueAfterNav('left', 'right', 'right')?>: 1.5em;
	padding: 0 .5em;
	color: <?php echo $mainFgColor ?>;
	background-color: transparent;
	opacity: .3;
	font-size: .9em;
	text-decoration: none;
}

/* връзките за прочетени текстове */
.read,
.read:visited {
	color: <?php echo $readMarkFgColor?>;
	background-color: <?php echo $readMarkBgColor?>;
	text-decoration: none;
}
/* с мишка отгоре им */
.read:hover {
	text-decoration: underline;
}

/* връзки за сваляне */
/*a.dl {
	text-transform: uppercase;
	text-decoration: none;
	font-size: 1.4ex;
}
a.dl:hover {
	text-decoration: underline;
}
.buttonmenu a.dl:hover {
	text-decoration: none;
}
.navbody a.dl {
	display: block;
}*/
.dl {
	position: relative;
	padding-left: 20px;
	background-repeat: no-repeat;
}
.dl-txt { background-image: url(<?php echo $imgDir ?>dl03-txt.png); }
.dl-fb2 { background-image: url(<?php echo $imgDir ?>dl02-fb2.png); }
.dl-epub { background-image: url(<?php echo $imgDir ?>dl04-epub.png); }
.dl-sfb { background-image: url(<?php echo $imgDir ?>dl01-sfb.png); }
.dl-djvu { background-image: url(<?php echo $imgDir ?>dl05-djvu.png); }

.dl-list, .dl-list li {
	display: inline;
	padding: 0;
}
.navbody .dl-list,
.cover-and-links .dl-list {
	display: block;
	margin: 0;
	text-align: center;
}
.dl-list li {
	margin: 0 .5em 0 0;
}
.dl-list li:last-child {
	margin-right: 0;
}

/* менюта, обикновено чрез списъци */
.menu {
	margin: .5em auto;
	padding: 0;
	font-size: 90%;
	font-variant: small-caps;
	text-align: center;
}
article footer .menu {
	margin: 0;
}
/* връзки, направени да приличат на бутони */
.buttonmenu a,
.pagination a {
	color: <?php echo $buttonLinksFgColor?>;
	background-color: <?php echo $buttonLinksBgColor?>;
	text-decoration: none;
}
.buttonmenu a,
.buttonmenu .selected,
.pagination a,
.pagination .selected {
	padding: .2em .3em;
	border: thin solid <?php echo $buttonLinksFgColor?>;
	-moz-border-radius: .3em;
	-webkit-border-radius: .3em;
	border-radius: .3em;
	-moz-box-shadow: .15em .15em .3em #ccc;
	font-weight: bold;
}
/* същите бутонни връзки — активни или с мишка отгоре им */
.buttonmenu a:hover,
.buttonmenu a:active,
.pagination a:hover,
.pagination a:active,
.buttonmenu .selected,
.pagination .selected {
	color: <?php echo $buttonLinksBgColor?>;
	background-color: <?php echo $buttonLinksFgColor?>;
}
.menu ul,
.menu li,
.menu dt,
.menu dd,
.simplelist,
.simplelist li,
.instruct dt,
.instruct dd,
.instruct ul,
.instruct li {
	display: inline;
	margin: 0;
	padding: 0;
}
.menu li,
.menu dt,
.menu dd,
.simplelist li {
	white-space: nowrap;
}
.menu dt:after,
.instruct dt:after {
	content: ": ";
}
.menu li:after {
	content: "\00A0~ ";
	font-size: 70%;
	vertical-align: middle;
}
.menu li:last-child:after { content: ""; }
.menu input[type=radio] {
	vertical-align: middle;
}

.buttonmenu li:after,
.pagination li:after { content: ""; }
a[rel=prev]:before { content: "\2190\00A0"; /* left arrow */ }
a[rel=next]:after { content: "\00A0\2192"; /* right arrow */ }
.simplelist li:after,
.instruct li:after {
	content: ", ";
}
.simplelist li:last-child:after,
.simplelist.with-actions li:after,
.instruct li:last-child:after {
	content: "";
}

.instruct dt {
	font-weight: normal;
}

/* съобщения за грешки */
.error {
	color: <?php echo $errorFgColor?>;
	background-color: inherit;
	font-weight: bold;
	font-size: 1.1em;
}
div.error,
p.error {
	clear: both;
}
/* допълнителна информация */
.extra,
.extra a {
	color: <?php echo $extraInfoFgColor?>;
	background-color: inherit;
}
.extra a:visited {
	color: <?php echo $vlinkFgColor?>;
	background-color: inherit;
}

/* допълнителни връзки за дадена тема, напр. автор */
.info {
	margin: 0 .5em;
	font-size: small;
	text-align: right;
}

/* допълнителни връзки в информационна страница */
.info-top-links {
	margin-bottom: 1em;
	/*list-style-image: url(arrow-left);*/
	text-align: right;
}

/* разделител на абзаци при текстовете */
.separator {
	margin: 1.3em auto 1em;
	font-size: 1.5em;
	text-align: center;
	text-indent: 0;
}

table.content {
	margin: .5em auto 1em auto;
	border-collapse: collapse;
}
table.content th,
table.content td {
	border: thin solid #e0e0e0;
}
table.content th {
	padding: .2em .4em;
}
table.content td {
	padding: .1em .4em;
}
table.content caption {
	margin: 1em auto 0 auto;
	font-weight: bold;
}
th {
	color: <?php echo $evenFgColor?>;
	background-color: <?php echo $evenBgColor?>;
}

/* обикновено за редове на таблици */
.odd {
	color: <?php echo $oddFgColor?>;
	background-color: <?php echo $oddBgColor?>;
}
.even {
	color: <?php echo $evenFgColor?>;
	background-color: <?php echo $evenBgColor?>;
}

/* сортуруеми таблици */
th.header {
	padding-left: 1.1em;
	background-image: url(<?php echo $sprites['sort']?>);
	background-repeat: no-repeat;
	background-position: 4px -112px;
	cursor: pointer;
}
th.headerSortUp {
	background-position: 5px -24px;
	text-decoration: underline;
}
th.headerSortDown {
	background-position: 5px -68px;
	text-decoration: underline;
}


/* невидими знаци (табулации, интервали), които трябва да бъдат видими */
.visible-ws {
	color: <?php echo $mainBgColor?>;
	background-color: <?php echo $mainFgColor?>;
	opacity: .08;
}

/* неща, предвидени за текстови браузъри и разни семантични части */
.assistive,
.buttonmenu a span,
.buttonmenu .selected span,
.pagination a span,
.pagination .selected a,
/* do this as a foreground image to support css on/img off */
.edit span,
.save span,
.email span,
.act-info span,
.singleuser span,
.multiuser span,
.rating span,
#cluetip-close a span,
.feed-standalone a span,
.texttype span,
.dl-list span {
	display: none;
/* http://www.webaim.org/techniques/css/invisiblecontent/ */
/*	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;*/
}


/* различни примери, напр. за форматиране на текст в помощните страници */
.example {
	border: thin dotted <?php echo $codeBordColor?>;
	color: <?php echo $codeFgColor?>;
	background-color: <?php echo $codeBgColor?>;
}
pre.example,
div.example {
	padding: .5em;
}

/* за заглавията на текстовете на страницата за четене */
.text-title,
/* заглавията вътре в текста */
.text-content h2,
.text-content h3,
.text-content h4,
.text-content h5,
.text-content h6,
.text-content .subheader {
	font-variant: small-caps;
}

/* за фамилии */
.lastname {
	font-variant: small-caps;
}
.epigraph {
	margin: 1.5em 6em 2em 8em;
}
.author {
	font-style: normal;
	text-align: right;
}
.epigraph,
.dedication {
	text-align: left;
}
.epigraph .author,
.dedication .author,
.poem .author {
	margin-left: 10em;
	text-align: left;
}
blockquote.poem p {
	position: relative;
}
div.poem-middle *,
div.poem-middle .subheader {
	text-align: center;
	text-indent: 0;
}
div.poem-middle .subheader {
	margin-right: auto;
	margin-left: auto;
	width: 60%;
}
.placeyear p {
	font-size: small;
	text-indent: 3em;
}

.cite {
	font-style: normal;
}
.cite em {
	font-style: italic;
	font-weight: normal;
}
.subheader,
.frame,
.frame p {
	font-weight: bold;
	font-style: normal;
	text-align: center;
	text-indent: 0;
}
.frame {
	margin: 1em auto;
	padding: .5em;
	width: 50%;
	min-width: 15em;
	border: thin solid <?php echo $mainFgColor?>;
}
.notice,
.notice p {
	margin: .5em auto;
	font-size: .95em;
	font-style: italic;
	text-align: center;
	text-indent: 0;
}
.epigraph .subheader {
	text-align: left;
}
/* Обхваща текста на произведение */
.text-content {
	clear: both;
}
.poetry h2,
.poetry h3,
.poetry h4,
.poetry h5,
.poetry h6,
.poem h2,
.poem h3,
.poem h4,
.poem h5,
.poem h6,
.poetry .subheader,
.poetry .separator,
.poem .subheader,
.poem .separator {
	text-align: left;
	text-indent: 3em;
}
.poetry .center h2,
.poetry .center h3,
.poetry .center h4,
.poetry .center h5,
.poetry .center h6,
.poem .center h2,
.poem .center h3,
.poem .center h4,
.poem .center h5,
.poem .center h6,
.poetry .center .subheader,
.poetry .center .separator,
.poem .center .subheader,
.poem .center .separator {
	text-align: center;
	text-indent: 0;
}
.verse-num {
	position: absolute;
	left: -3em;
	font-size: .9em;
}
.book-section:first-child {
	margin-top: 1.5em;
}
/* text or book covers */
.cover {
	float: left;
	margin: 1em 1em 1em 0;
	padding: .3ex;
	box-shadow: 4px 4px 5px #bbb;
	-moz-box-shadow: 4px 4px 5px #bbb;
	-webkit-box-shadow: 4px 4px 5px #bbb;
}
.post {
	clear: both;
	margin: 1em 1em 0 1em;
}
.post h2,
.post dt {
	margin: 0;
	padding: .3em .5em;
	border: thin outset <?php echo $toolbarBgColor?>;
	color: <?php echo $toolbarFgColor?>;
	background-color: <?php echo $toolbarBgColor?>;
	text-shadow: none;
}

/* реда с автора на новина */
.postauthor {
	margin-bottom: .8em;
	padding-right: .5em;
	border: thin outset <?php echo $toolbarBgColor?>;
	color: <?php echo $toolbarFgColor?>;
	background-color: <?php echo $toolbarBgColor?>;
	font-size: small;
	text-align: right;
}

/* текст, който е вмъкнат */
/*ins {
	color: inherit;
	background-color: <?php echo $insBgColor?>;
	text-decoration: none;
}*/
/* текст, който е изтрит */
/*del {
	color: inherit;
	background-color: <?php echo $delBgColor?>;
	text-decoration: none;
}*/
.progressbar {
	border: thin solid <?php echo $mainFgColor?>;
	font-weight: bold;
}
.progressbar .done {
	color: <?php echo $navTitleFgColor?>;
	background-color: <?php echo $navTitleBgColor?>;
}

div.thumb {
	float: left;
	margin: .5em 1em 1em 0;
	padding: .4em;
	border: thin solid <?php echo $tocBordColor?>;
	color: <?php echo $tocFgColor?>;
	background-color: <?php echo $tocBgColor?>;
	text-align: center;
}
span.image-title {
	display: block;
	text-align: center;
	font-style: italic;
}

div.tabbedpane {
	margin-top: 1em;
}
div.tab {
	float: left;
	margin-left: .5em;
	padding: .2em .5em .1em .5em;
	border: solid <?php echo $tocBordColor?>;
	border-width: thin thin 0 thin;
}
div.tabbedpanebody {
	clear: both;
	border: thin solid <?php echo $tocBordColor?>;
	padding: 0 .5em .5em .5em;
}

.purl {
	float: right;
	margin-top: 1em;
	overflow: auto;
	border-top: thin solid <?php echo $tocBordColor?>;
	font-size: .9em;
}
/* за таблици */
.fieldname-left {
	text-align: right;
}

/* бележки под линия */
.ref:target a {
	color: <?php echo $headerFgColor?>;
	background-color: <?php echo $headerBgColor?>;
}
.footnotes :target {
	padding: 1em;
	border: medium dashed <?php echo $tocBordColor?>;
	color: <?php echo $tocFgColor?>;
	background-color: <?php echo $tocBgColor?>;
	font-size: 1.1em;
}

.date {
	font-family: monospace;
	white-space: nowrap;
}

.standalone {
	clear: both;
	margin: .5em auto;
	text-align: center;
}

.selected {
	font-weight: bold;
}

.ajax-response-top {
	margin-top: 2em;
}

/* Toggle controller for collapsible content */
.collapsible-ctrl {
	margin-left: 1em;
	font-weight: normal;
}
.collapsible-ctrl:before { content: "["; }
.collapsible-ctrl:after { content: "]"; }

.loading {
	background: url(<?php echo $imgDir?>loading.gif) right center no-repeat !important;
}
.indicator.loading {
	margin-right: .3em;
	padding-right: 18px;
	background: url(<?php echo $imgDir?>loading.gif) right center no-repeat;
}

#loadingIndicator {
	position: fixed;
	top: 30%;
	left: 33%;
	width: 33%;
	border: medium ridge <?php echo $headerBordColor?>;
	color: <?php echo $headerFgColor?>;
	background-color: <?php echo $headerBgColor?>;
	line-height: 3em;
	text-align: center;
	font-size: 1.5em;
}
/* cluetip */

#cluetip {
	padding: .2em .5em;
	border: medium outset <?php echo $fieldsetBordColor?>;
	color: <?php echo $mainFgColor?>;
	background-color: <?php echo $mainBgColor?>;
}
#cluetip h3 {
	margin: .2em 0 .1em 0;
	padding: .1em;
}
#cluetip-title #cluetip-close {
	float: left;
}

.clouds {
	text-align: center;
}
.clouds li {
	display: inline;
	margin: .2em .3em;
	padding: .2em .3em .2em .5em;
	white-space: nowrap;
	line-height: 2.2em;
	border: thin solid <?php echo $cloudBordColor ?>;
	border-radius: .5em 0;
	-moz-border-radius: .5em 0;
}
.clouds li:hover, .clouds li:hover a {
	color: <?php echo $cloudFgHoverColor ?>;
	background-color: <?php echo $cloudBgHoverColor ?>;
}
.cloud-1,
.cloud-2,
.cloud-3,
.cloud-4,
.cloud-5,
.cloud-6,
.clouds a {
	color: <?php echo $cloudFgColor ?>;
}
.cloud-0 {
	font-size: .9em;
}
.cloud-1 {
	font-size: 1em;
	background-color: <?php echo $cloudBg1Color ?>;
}
.cloud-2 {
	font-size: 1.1em;
	background-color: <?php echo $cloudBg2Color ?>;
}
.cloud-3 {
	font-size: 1.2em;
	background-color: <?php echo $cloudBg3Color ?>;
}
.cloud-4 {
	font-size: 1.3em;
	background-color: <?php echo $cloudBg4Color ?>;
}
.cloud-5 {
	font-size: 1.4em;
	background-color: <?php echo $cloudBg5Color ?>;
}
.cloud-6 {
	font-size: 1.5em;
	background-color: <?php echo $cloudBg6Color ?>;
}
.clouds a {
	text-decoration: none;
}



.dashboard a {
	background: url(<?php echo $sprites['basebig']?>) no-repeat top left;
}
.dashboard-author a { background-position: 50% 2px; }
.dashboard-series a { background-position: 50% -130px; }
.dashboard-history a { background-position: 50% -262px; }
.dashboard-label a { background-position: 50% -394px; }
.dashboard-pic a { background-position: 50% -526px; }
.dashboard-book a { background-position: 50% -658px; }
.dashboard-title a { background-position: 50% -786px; }
.dashboard-translator a { background-position: 50% -906px; }
.dashboard-workroom a { background-position: 50% -526px; }

.dashboard {
	margin: 1em auto 2em;
	width: 60em;
	text-align: center;
}
.dashboard ul {
	padding: 0;
}
.dashboard li {
	display: inline-block;
	position: relative;
	margin: 0 1.3em 1.3em 0;
	padding: .5em;

	border: 2px solid #ccc;
	border-radius: 1.3em;
	-moz-border-radius: 1.3em;
	-webkit-border-radius: 1.3em;

	list-style-type: none;
	font-variant: small-caps;

	text-shadow: black 1px 1px 0;
	text-align: center;
	vertical-align: middle;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	color: #fff;

	border-color: <?php echo $dashboardBorderColor ?>;
	background-color: <?php echo $dashboardBgColor ?>;
	background-image: -moz-linear-gradient(<?php echo $dashboardBg1Color ?> 0%, <?php echo $dashboardBg2Color ?> 90%);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 90%, from(<?php echo $dashboardBg1Color ?>), to(<?php echo $dashboardBg2Color ?>));
	-moz-box-shadow: <?php echo $dashboardBoxShadowColor ?> 0px 10px 16px;
	-webkit-box-shadow: <?php echo $dashboardBoxShadowColor ?> 0px 10px 16px;
}

.dashboard a {
	display: block;
	margin: 0;
	padding: 3em 0 0 0;
	width: 5em;
	color: white;
	text-decoration: none;
	text-align: center;
}
.dashboard li:hover {
	text-shadow: 1px 1px 10px #c0c0c0;
}
.dashboard span {
	position: absolute;
	top: 0;
	left: .4em;
	width: 5.2em;
	padding: .5em 0;
	border-radius: 8px;
	-moz-border-radius: 1.2em 1.2em .6em .6em;
	-webkit-border-radius: 8px;
	background-color: rgba(255, 255, 255, 0.25);
	background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 95%);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 95%, from(rgba(255, 255, 255, 0.7)), to(rgba(255, 255, 255, 0)));
}



#first-heading h1, #first-heading h2 {
	-moz-box-shadow: 4px 5px 7px #ddd;
}
#first-heading hgroup h1, #first-heading hgroup h2 {
	margin: 0;
}
#first-heading hgroup h1 {
	border-radius: 1em 1em 0 0;
	-moz-border-radius: 1em 1em 0 0;
}
#first-heading hgroup h2 {
	margin-bottom: 1em;
	border-radius: 0 0 1.1em 1.1em;
	-moz-border-radius: 0 0 1.1em 1.1em;
}
#first-heading hgroup h2 span {
	font-size: 85%;
}

.welcome {
	padding: 1em;
	font-size: 1.4em;
	text-align: center;
	text-shadow: none;
	color: <?php echo $mainFgColor?>;
	background-color: <?php echo $mainBgColor?>;
}

.p_homepage #first-heading {
	display: none;
}
.p_homepage h2,
.welcome,
article h1 {
	margin-bottom: 0.3em;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	box-shadow: none;
	-moz-box-shadow: none;
}
article h1 {
	font-size: 1.3em;
}
.box {
	float: left;
	margin-right: 1%;
}
/* one of three boxes in a row */
.box3 {
	width: 32%;
}
/* one of two boxes in a row */
.box2 {
	width: 49%;
}
.bookbox {
	text-align: center;
}
.liternewsbox {
	width: 66%;
}
.p_homepage .textbox .superlist {
	margin: 2em 0 0 1.5em;
}
.p_homepage .textbox dt,
.p_homepage .textbox dd {
	width: 27em;
	max-width: 48%;
}
.p_homepage .separator {
	clear: both;
	height: 1em;
}
button.expander {
	width: 100%;
	border: none;
	text-align: center;
	cursor: pointer;
}
button.expander span {
	background: url(images/double_arrow_down.png) no-repeat center right;
	padding-right: 1.1em;
}
button.expander:hover span {
	text-decoration: underline;
}

.license {
	padding: .5em .8em;
	border: thin solid <?php echo $fieldsetBordColor?>;
	font-style: italic;
}
.wikiinfo {
	position: relative;
	max-height: 30em;
	overflow: auto;
}
.infobox .intro {
	margin-bottom: 1em;
	border-bottom: thin solid <?php echo $fieldsetBordColor?>;
	font-style: italic;
	opacity: .6;
}
table.infobox,
table.toccolours {
	float: right;
	border: thin solid <?php echo $tocBordColor?>;
	border-collapse: collapse;
}
table.infobox th,
table.infobox td,
table.toccolours th,
table.toccolours td {
	padding: 0.2em 0.5em;
}
.wikidata h2 {
	clear: both;
}
.wikiinfo .editsection {
	float: right;
}
.wikiinfo .new {
	padding-left: 0;
	background: inherit;
}
.wikiinfo .othermeaning-box {
	display: none;
}
/* връзки към епизоди в книга-игра */
.ep {
	font-weight: bold;
}

#new-paper-books li {
	text-align: center;
	padding: .3em .2em;
}
#new-paper-books a {
	text-decoration: none;
}
#wanted-book {
	margin: .3em 0 1em;
	text-align: right;
}
#wanted-book a {
	text-decoration: none;
}
.wanted-list {
	margin: 1em;
	font-size: 110%;
}

.p-editWiki textarea {
	width: 100%;
}
.breadcrumbs {
	margin: .5em 0 1.5em;
	padding: .2em .9em .1em;
	border-radius: .9em;
	-moz-border-radius: .9em;
	color: <?php echo $mainFgColor?>;
	background-color: <?php echo $tocBgColor?>;
	-moz-box-shadow: .1em .1em .2em #ddd;
	font-size: 90%;
}
.breadcrumbs > li {
	display: inline;
}
.breadcrumbs > li:after {
	content: " »";
}
.breadcrumbs > li:last-child:after {
	content: "";
}
.buryit {
	background: url(/img/maskot/down.png) no-repeat right top;
}


.main-form {
	margin: 1em auto;
	width: 42em;
}
.main-form dl {
	margin: 0 auto;
}
.main-form dt, .main-form dt {
	padding: 0 .2em;
}
.main-form dt {
	clear: left;
	float: left;
	margin: 0 0 .5em 0;
	width: 10em;
	font-weight: bold;
	text-align: right;
}
.main-form dd {
	margin: 0 0 .5em 10.5em;
	width: 30em;
}
.main-form input[type=text], .main-form textarea, .main-form select {
	font-family: sans-serif;
	font-size: 1em;
	width: 30em;
}
.main-form textarea {
	height: 12em;
}
.main-form .actions {
	text-align: center;
	margin: 0;
	padding: 0;
}
.main-form .actions li {
	display: inline;
	margin-right: 1em;
}
.main-form .actions li.cancel {
	float: right;
}

/* mediawiki edit sections */
.editsection {
	float: right;
	font-size: 75%;
}

.sujet2 {
	font-family: Georgia, serif;
}
.center {
	text-align: center;
}
.center p {
	text-indent: 0;
}
.right {
	text-align: right;
}
.bold {
	font-weight: bold;
}
.italic {
	font-style: italic;
}
.smallcaps {
	font-variant: small-caps;
}
.underline {
	text-decoration: underline;
}
.overline {
	text-decoration: overline;
}
.upper {
	text-transform: uppercase;
}
.large {
	font-size: 110%;
}
.x-large {
	font-size: 120%;
}
.xx-large {
	font-size: 130%;
}
.xxx-large {
	font-size: 140%;
}
.small {
	font-size: 90%;
}
.x-small {
	font-size: 80%;
}
.xx-small {
	font-size: 70%;
}
.xxx-small {
	font-size: 60%;
}


ul.two-columns {
	column-count: 2;
	-moz-column-count: 2;
}

.form-submit {
	text-align: center;
}
.form-submit input {
	font-size: 110%;
}

.no-items {
	font-weight: bold;
	font-size: 110%;
	text-align: center;
}

.history-wrapper h3 {
	text-align: left;
}
.history-wrapper #toc {
	float: right;
	margin: 0 0 1em 1em;
}
.more {
	text-align: right;
}
.more a:after {
	content: " »";
}

.bookshelf {
	margin: 0 auto;
	padding: 0;
	width: 51em;
}

.bookshelf li {
	float: left;
	margin: 0 2em 1em 0;
	padding: .8em;
	height: 16em;
	width: 13em;
	border: thin solid <?php echo $navTitleBgColor?>;
	border-radius: .8em;
	-moz-border-radius: 1em;
	list-style-type: none;
	color: <?php echo $tocFgColor?>;
	background-color: <?php echo $tocBgColor?>;
	text-align: center;
}

.action-new {
	margin-left: 2em;
}

.image-form {
	display: inline;
}
.image-form button span {
	display: none;
}
.image-form button {
	margin-top: 2px;
	vertical-align: top;
	height: 16px;
	width: 16px;
	border: none;
	-moz-border-radius: 0;
	box-shadow: none;
	-moz-box-shadow: none;
	background: none;
	cursor: pointer;
}
.with-actions li:hover .delete-form button,
.delete-form button:focus,
.delete-form button:hover {
	background: url(images/002-delete.png) no-repeat 0 0;
}
.bookmark-form button {
	background: url(images/bookmark.png) no-repeat 0 0;
}
.bookmark-form button.active,
.bookmark-form button:focus,
.bookmark-form button:hover {
	background: url(images/bookmark_active.png) no-repeat 0 0;
}

.project-links h3 {
	display: none;
}
.project-links ul {
	margin: 0;
	padding: 0;
	border-bottom: 1px solid #bbb;
	background-color: #cbcbcb;
	background-image: -moz-linear-gradient(top, #e8e8e8, #cbcbcb);
	color: black;
	text-align: center;
}
.project-links li {
	display: inline-block;
	margin: 0;
	padding: 0;
	border-right: 1px #818181 solid;
	-moz-box-shadow: 1px 1px 1px #bbb;
	-webkit-box-shadow: 1px 1px 1px #bbb;
	box-shadow: 1px 1px 1px #bbb;
	list-style-type: none;
	text-align: center;
	font-variant: small-caps;
}
.project-links li a {
	display: block;
	width: 7em;
	padding: .2em .3em 0 .3em;
	background-color: #dadada;
	background-image: -moz-linear-gradient(top, #ddd, #ddd 35%, #999);
	color: #292929;
	text-shadow: 1px 1px 0 #e8e8e8;
	text-decoration: none;
}
.project-links li.current a {
	background-color: #555;
	background-image: -moz-linear-gradient(top, #555, #888);
	color: #e8e8e8;
	text-shadow: black 1px 1px 0;
}
.project-links li:hover a {
	background-color: #333;
	background-image: -moz-linear-gradient(top, #333, #4c4c4c);
	color: #e8e8e8;
	text-shadow: black 1px 1px 0;
	text-decoration: none;
}

/* not necessary wiki stuff */
.chitanka-personinfo {
	display: none;
}
}

/* for small displays */
@media handheld, screen and (max-width: 900px), screen and (max-device-width: 900px) {
/* one of two boxes in a row */
.box2 {
	width: 100%;
}
.liternewsbox {
	width: 100%;
}
.p_homepage .textbox dt,
.p_homepage .textbox dd {
	max-width: none;
}
.insidenews {
	width: 100%;
}
} /* end small displays */

@media print {

#main-content {
	margin: 1em;
}
#navigation {
	display: none;
}

* {
	color: black;
	background-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	border: none;
}

#logo,
#toc,
.infobox,
#toolbar,
#footer,
#copyright,
#cache-link,
#fulltext-link,
#txt-edit-msg,
.ok {
	display: none;
}

}/* end print */
