#main-content {
	margin: 0 0 0 @contentMarginSide;
}
#navigation {
	margin: 0 0 1em -100%;
}
#personal {
	right: 1.5em;
	text-align: right;
}
#personal li {
	margin: 0 0 0 .2em;
}
#search form {
	margin-left: (@contentMarginSide+1.5);
	margin-right: 30%;
}
#toggle-nav-link {
	left: 1.5em;
}
