#main-content {
	margin: 0 @contentMarginSide 0 0;
}
#navigation {
	margin: 0 0 1em -@navWidth;
}
#user-tools {
	left: 1.5em;
	text-align: left;
	li {
		margin: 0 .2em 0 0;
	}
}
#search {
	right: (@contentMarginSide+1.5);
}
