#main-content {
	margin: 0 0 0 @contentMarginSide;
}
#navigation {
	margin: 0 0 1em -100%;
}
.user-tools-menu {
	position: absolute;
	left: @contentMarginSide;
	li {
		margin: 0 0 0 .2em;
	}
}
#search {
	right: 1.5em;
}
