#main-content {
	margin: 0 @contentMarginSide 0 0;
}
#navigation {
	margin: 0 0 1em -@navWidth;
}
#user-tools {
	left: @contentSpacingSide;
}
#search {
	right: @contentMarginSide + @contentSpacingSide;
}
