{% import 'LibBundle::navi.html.twig' as navi %}
{% if by == 'first' or by == '' %}
	<h2>Име</h2>
	<div class="menu buttonmenu">
		{{ navi.person_first_letter_links('authors_by_first_name', (by == 'first' ? letter : '')) }}
	</div>
{% endif %}
{% if by == 'last' or by == '' %}
	<h2>Фамилия</h2>
	<div class="menu buttonmenu">
		{{ navi.person_last_letter_links('authors_by_last_name', (by == 'last' ? letter : '')) }}
	</div>
{% endif %}
