{% extends 'LibBundle::layout.html.twig' %}

{% set title %}<a class="selflink" data-edit="{{ path('person_edit', {'id': person.id}) }}">{{ person.name }}</a>{% endset %}
{% set subtitle %}{% spaceless %}
	{% if person.is_author %}
		{% if person.is_translator %}
			автор и преводач
		{% else %}
			автор
		{% endif %}
	{% elseif person.is_translator %}
		преводач
	{% endif %}
{% endspaceless %}{% endset %}
{% block content %}
	{% include 'LibBundle:Person:info.html.twig' %}

	{% if books is defined %}
		<h2 id="books">Книги</h2>
		{% include 'LibBundle:Book:books_list.html.twig' %}
	{% endif %}

	{% if person.is_author %}
		{% if person.is_translator %}
			<h2 id="author">Авторски произведения</h2>
		{% elseif books is defined and texts_as_author|length %}
			<h2 id="author">Произведения</h2>
		{% endif %}
		{% for series in texts_as_author %}
			{% include 'LibBundle:Person:text_list_author.html.twig' with {'series': series.data, 'texts': series.texts} %}
		{% endfor %}
	{% endif %}

	{% if person.is_translator %}
		{% if person.is_author or books is defined %}
			<h2 id="translator">Преводни произведения</h2>
		{% endif %}
		{% for series in texts_as_translator %}
			{% include 'LibBundle:Person:text_list_translator.html.twig' with {'series': series.data, 'texts': series.texts} %}
		{% endfor %}
	{% endif %}

	{% include 'LibBundle::color_legend.html.twig' %}
{% endblock %}

{% set inline_js %}
	$("fieldset.infobox,fieldset.filters").boxcollapse();
{% endset %}
