{% extends 'LibBundle::layout.html.twig' %}

{% set itemtype = "Person" %}
{% set title = '<a class="selflink" itemprop="name" data-edit="'~ path('admin_person_edit', {'id': person.id}) ~'">'~ person.name ~'</a>' %}
{% set subtitle = ('person.role.'~person.role)|trans %}
{% block content %}

	<div class="person-{{ person.slug }}">
	{% if person.person is empty %}
		{% include 'LibBundle:Person:info.html.twig' %}
	{% else %}
		{% import 'LibBundle::link.html.twig' as link %}
		<p>{{ ('person.alt.'~person.type) | trans({'%current%': person.name, '%target%': link.person(person.person)})|raw }}</p>
	{% endif %}

	{% if books is defined %}
		<h2 id="books">Книги</h2>
		{% include 'LibBundle:Book:list.html.twig' %}
	{% endif %}

	{% if texts_as_author is defined and texts_as_author is not empty %}
		<h2 id="author">Произведения</h2>
		{% for series in texts_as_author %}
			{% include 'LibBundle:Author:texts_list.html.twig' with {'series': series.data, 'texts': series.texts} %}
		{% endfor %}
	{% endif %}

	{% if texts_as_translator is defined and texts_as_translator is not empty %}
		<h2 id="translator">Преводни произведения</h2>
		{% for series in texts_as_translator %}
			{% include 'LibBundle:Translator:texts_list.html.twig' with {'series': series.data, 'texts': series.texts} %}
		{% endfor %}
	{% endif %}
	</div>

	{% include 'LibBundle::color_legend.html.twig' %}
{% endblock %}

{% block inline_js %}
	$("fieldset.infobox,fieldset.filters").boxcollapse();
{% endblock %}
