<fieldset id="legend">
<legend>Цветова легенда</legend>
<ul class="titles">
	<li class="title t-shortstory"><a>Разказ, новела</a> — късо произведение</li>
	<li class="title t-novella"><a>Повест</a> — среднодълго произведение</li>
	<li class="title t-novel"><a>Роман</a> — дълго произведение</li>
	<li class="title t-poetry"><a>Поезия</a> — поетично произведение</li>
	<li class="title t-tale"><a>Приказка, басня</a></li>
	<li class="title t-othergenre"><a>Друго</a> — друг тип произведение, например <em>есе</em>, <em>пиеса</em>, <em>статия</em></li>
</ul>
</fieldset>
