<ul>
	<li><a href="{{ path('wiki', {page: 'about'}) }}">За Моята библиотека</a></li>
	<li><a href="{{ path('wiki', {page: 'rules'}) }}">Правила</a></li>
	<li><a href="{{ path('wiki', {page: 'faq'}) }}">Въпроси и отговори</a></li>
	<li><a href="{{ path('feedback') }}" title="Връзка с администраторите на библиотеката">Връзка с екипа</a></li>
</ul>
