<div id="jump-to" class="assistive">
Направо към:
<ul>
	<li><a href="#main-content-wrapper">основното съдържание</a></li>
	<li><a href="#navigation">навигационното меню</a></li>
	<li><a href="#search">търсачката</a></li>
</ul>
</div>
