<div id="jump-to" class="sr-only">
<p>Направо към:</p>
<ul>
	<li id="jump-to-content"><a href="#main-content">основното съдържание</a></li>
	<li id="jump-to-navigation"><a href="#navigation">менюто</a></li>
	<li id="jump-to-search"><a href="#search">търсачката</a></li>
</ul>
</div>
