<nav id="project-links" class="navbar navbar-default project-links" role="navigation">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#project-links-navbar">
			<span class="sr-only">Показване на проектните връзки</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
	</div>

	<div class="collapse navbar-collapse" id="project-links-navbar">
		<ul class="nav nav-justified">
			<li id="project-main" class="active"><a href="http://chitanka.info">Библиотека</a></li>
			<li id="project-forum"><a href="http://forum.chitanka.info">Форум</a></li>
			<li id="project-wiki-workroom"><a href="http://wiki.workroom.chitanka.info">Читалие</a></li>
			<li id="project-rechnik"><a href="http://rechnik.chitanka.info">Речник</a></li>
			<li id="project-gramofonche"><a href="http://gramofonche.chitanka.info">Грамофонче</a></li>
			<li id="project-tools"><a href="http://tools.chitanka.info">Инструменти</a></li>
		</ul>
	</div>
</nav>
