<div id="project-links" class="project-links">
	<h3>Проекти</h3>
	<ul>
		<li id="project-main" class="current"><a href="http://chitanka.info">Библиотека</a></li>
		<li id="project-forum"><a href="http://forum.chitanka.info">Форум</a></li>
		<li id="project-blog"><a href="http://blog.chitanka.info">Блог</a></li>
		<li id="project-wiki"><a href="http://wiki.chitanka.info">Уики</a></li>
		<li id="project-rechnik"><a href="http://rechnik.chitanka.info">Речник</a></li>
		<li id="project-tools"><a href="http://tools.chitanka.info">Инструменти</a></li>
	</ul>
</div>
