{% extends 'layout.html.twig' %}

{% set title = 'Търсене' ~ (query ? ' на „'~query.text|e~'“' : '') %}
{% block content %}

	<style>
		h2 {
			clear: both;
		}
	</style>
	{% if result.persons|length %}
		<h2>Личности</h2>
		{% include 'Author/list_with_country.html.twig' with {persons: result.persons} %}
	{% endif %}

	{% if result.texts|length %}
		<h2>Произведения</h2>
		{% include 'Text/list.html.twig' with {texts: result.texts} %}
	{% endif %}

	{% if result.books|length %}
		<h2>Книги</h2>
		{% include 'Book/list.html.twig' with {books: result.books} %}
	{% endif %}

	{% if result.series|length %}
		<h2>Авторски серии</h2>
		{% include 'Series/list.html.twig' with {series: result.series} %}
	{% endif %}

	{% if result.sequences|length %}
		<h2>Издателски поредици</h2>
		{% include 'Sequence/list.html.twig' with {sequences: result.sequences} %}
	{% endif %}

	{% if result.labels|length %}
		<h2>Етикети</h2>
		{% include 'Text/label_list.html.twig' with {labels: result.labels} %}
	{% endif %}

	{% if result.categories|length %}
		<h2>Категории</h2>
		{% include 'Book/category_list.html.twig' with {categories: result.categories} %}
	{% endif %}

	{% if result.isEmpty %}
		<p class="no-items">Не открихме нищо за „{{ query.text }}“.</p>
	{% endif %}

	{% if app.user.isAuthenticated %}
		<div id="bibiomanResults">
			<h2>Библиоман</h2>
		</div>
	{% endif %}
{% endblock %}

{% block inline_js %}
	{% if app.user.isAuthenticated %}
	<script>
	{% include 'Search/biblioman_search.js.twig' with {query: query, target: '#bibiomanResults'} %}
	</script>
	{% endif %}
{% endblock %}
