{% extends 'App::layout.html.twig' %}

{% set title %}
	<a class="selflink" itemprop="name" data-edit="{{ path('admin_person_edit', {id: person.id}) }}">{{ person.name }}</a>
{% endset %}
{% set subtitle = ('person.role.'~person.role)|trans %}
{% block content %}
	<div class="person-{{ person.slug }}">
	{% if texts|length > 0 %}
		<h2 id="author">Произведения</h2>
	{% endif %}
	{% for series in texts %}
		{% include 'App:Author:texts_list.html.twig' with {'series': series.data, 'texts': series.texts} %}
	{% endfor %}
	</div>
{% endblock %}
