{% extends 'App::layout.html.twig' %}

{% set title %}
	<a class="selflink" itemprop="name" data-edit="{{ path('admin_person_edit', {id: person.id}) }}">{{ person.name }}</a>
{% endset %}
{% set subtitle = ('person.role.'~person.role)|trans %}
{% block content %}

	<div class="person-{{ person.slug }}">

		<ul id="person-tabs" class="nav nav-tabs">
			{% if books is not empty %}
			<li><a href="#books" data-toggle="tab"><span class="fa fa-book"></span> Книги</a></li>
			{% endif %}
			{% if texts_as_author is not empty %}
			<li><a href="#texts" data-toggle="tab"><span class="fa fa-folder-open"></span> Произведения</a></li>
			{% endif %}
			<li><a href="#article" data-toggle="tab"><span class="fa fa-film"></span> Биография</a></li>
		</ul>

		<div class="tab-content">
			{% if books is not empty %}
			<div class="tab-pane" id="books">
				{% include 'App:Book:list.html.twig' %}
			</div>
			{% endif %}

			{% if texts_as_author is not empty %}
			<div class="tab-pane superlist" id="texts">
				{% for series in texts_as_author %}
					{% include 'App:Author:texts_list.html.twig' with {'series': series.data, 'texts': series.texts} %}
				{% endfor %}
			</div>
			{% endif %}

			<div class="tab-pane" id="article">
				{% include 'App:Person:info.html.twig' %}
			</div>
		</div>

	</div><!-- end class=person -->
{% endblock %}

{% block inline_js %}
	$("#person-tabs").find("a:first").tab('show');
{% endblock %}
