{% extends 'App::layout.html.twig' %}

{% set title %}
	<a class="selflink" itemprop="name" data-edit="{{ path('admin_person_edit', {id: person.id}) }}">{{ person.name }}</a>
{% endset %}
{% set subtitle = ('person.role.'~person.role)|trans %}
{% block content %}
	<div class="person-{{ person.slug }}">
	{% if books is defined %}
		<h2 id="books">Книги</h2>
		{% include 'App:Book:list.html.twig' %}
	{% endif %}
	</div>
{% endblock %}
