{% extends 'App::layout.html.twig' %}

{% set title = 'Издателски витрини' %}
{% block content %}
	<div class="alert alert-info" role="alert">
		<p><span class="fa fa-file-text-o"></span> <a href="{{ path('wiki', {page: 'terms-of-use/foreign-books'}) }}">Условия за ползване на издателската витрина</a></p>
	</div>
	<ul>
	{% for publisher in publishers %}
		<li><a href="{{ path('publishers_show', {slug: publisher.slug}) }}">{{ publisher.name }}</a></li>
	{% endfor %}
	</ul>
{% endblock %}
