{% extends 'layout.html.twig' %}

{% import 'link.html.twig' as link %}
{% set itemtype = "Person" %}
{% set title %}
	<a class="selflink" itemprop="name" data-edit="{{ link.admin_person_edit(person) }}">{{ person.name }}</a>
{% endset %}
{% set subtitle = ('person.role.'~person.role)|trans %}
{% block content %}

	<div class="person-{{ person.slug }}">

		<ul id="person-tabs" class="nav nav-tabs">
			{% if books is not empty %}
			<li><a href="#books" data-toggle="tab"><span class="fa fa-book"></span> Книги</a></li>
			{% endif %}
			{% if texts_as_author is not empty %}
			<li><a href="#texts" data-toggle="tab"><span class="fa fa-folder-open"></span> Произведения</a></li>
			{% endif %}
			{% if texts_as_translator is not empty %}
			<li><a href="#translations" data-toggle="tab"><span class="fa fa-edit"></span> Преводни произведения</a></li>
			{% endif %}
			<li><a href="#article" data-toggle="tab"><span class="fa fa-film"></span> Биография</a></li>
		</ul>

		<div class="tab-content">
			{% if books is not empty %}
			<div class="tab-pane booklist clearfix" id="books">
				<h2 class="sr-only">Книги</h2>
				{% include 'Book/list.html.twig' %}
			</div>
			{% endif %}

			{% if texts_as_author is not empty %}
			<div class="tab-pane superlist" id="texts">
				<h2 class="sr-only">Произведения</h2>
				{% for series in texts_as_author %}
					{% include 'Author/texts_list.html.twig' with {'series': series.data, 'texts': series.texts} %}
				{% endfor %}
			</div>
			{% endif %}

			{% if texts_as_translator is not empty %}
			<div class="tab-pane" id="translations">
				<h2 class="sr-only">Преводни произведения</h2>
				{% for series in texts_as_translator %}
					{% include 'Translator/texts_list.html.twig' with {'series': series.data, 'texts': series.texts} %}
				{% endfor %}
			</div>
			{% endif %}
			<div class="tab-pane wikiinfo" id="article">
				<h2 class="sr-only">Биография</h2>
				{% include 'Person/info.html.twig' %}
			</div>
		</div>

	</div><!-- end class=person -->

{% endblock %}

{% block inline_js %}
<script>
	$("#person-tabs").find("a:first").tab('show');
</script>
{% endblock %}
