{% extends 'layout.opds.twig' %}
{% import 'helper.opds.twig' as helper %}

{% set link_self = helper.path('person_show', {'slug': person.slug}) %}
{% block content %}
	{#% if person.person is empty %}
		{% include 'Person/info.html.twig' %}
	{% else %}
		{% import 'link.html.twig' as link %}
		<p>{{ ('person.alt.'~person.type) | trans({'%current%': person.name, '%target%': link.person(person.person)})|raw }}</p>
	{% endif %#}

	{% if books is defined %}
		{{ helper.navi_entry('Книги', updated_at, 'author_show_books', {'slug': person.slug}, 'Книги от '~person.name) }}
	{% endif %}
{#
	{% if person.isAuthor %}
		{% if person.isTranslator %}
			<h2 id="author">Авторски произведения</h2>
		{% elseif books is defined and texts_as_author|length %}
			<h2 id="author">Произведения</h2>
		{% endif %}
		{% for series in texts_as_author %}
			{% include 'Author/texts_list.html.twig' with {'series': series.data, 'texts': series.texts} %}
		{% endfor %}
	{% endif %}

	{% if person.isTranslator %}
		{% if person.isAuthor or books is defined %}
			<h2 id="translator">Преводни произведения</h2>
		{% endif %}
		{% for series in texts_as_translator %}
			{% include 'Translator/texts_list.html.twig' with {'series': series.data, 'texts': series.texts} %}
		{% endfor %}
	{% endif %}
#}
{% endblock %}
