<!DOCTYPE html>
<html lang="bg">
	<head>
		<meta charset="utf-8">
		<title>{% block title %}Моята библиотека{% endblock %}</title>
		<link rel="icon" href="{{ asset('favicon.png') }}" type="image/png">
		<link rel="apple-touch-icon" href="{{ asset('apple-touch-icon.png') }}">
		{% block stylesheets %}{% endblock %}
		{% block head %}{% endblock %}
	</head>
	<body class="{% spaceless %}{% block body_class '' %}{% endspaceless %}">
		{% block body %}{% endblock %}
		{% block javascripts %}{% endblock %}
	</body>
</html>
