<div id="search" role="search" title="Претърсване на библиотеката">
	<h3 class="sr-only">Търсене</h3>
	<form action="{{ path('search') }}" method="get" class="form-inline" role="form">
		<div class="form-group">
			<label for="q" class="sr-only">Дума или израз</label>
			<div class="input-group input-group-sm">
				<input type="search" id="q" name="q" class="form-control" value="{{ app.request.query.get('q') }}" accesskey="т">
				<span class="input-group-btn">
					<button class="btn btn-default btn-sm" type="submit"><span class="fa fa-search"></span><span class="sr-only">Търсене</span></button>
				</span>
			</div>
		</div>
	</form>
</div>
