{% import "App::navi.html.twig" as navi %}
<div class="text-center" title="Това са препратки към списъци на издателските поредици, започващи със съответната буква">
	{{ navi.letter_links('sequences_by_alpha', letter) }}
</div>
