{% extends 'App::layout.html.twig' %}

{% set title = 'Търсене' ~ (query ? ' на „'~query.text|e~'“' : '') ~ ' в издателските поредици' %}
{% block content %}

	{% if sequences|length %}
		{% include 'App:Sequence:list.html.twig' %}
	{% endif %}

	{% if not found %}
		<p class="no-items">Не открихме никакви издателски поредици.</p>
	{% endif %}

{% endblock %}
