{% extends 'App::layout.html.twig' %}

{% set title = 'Пращане на писмо на потребител' %}
{% block content %}
	Необходимо е да посочите валидна електронна поща в <a href="{{ path('user_edit', {username: user.username}) }}">настройките си</a>, за да можете да пращате писма на други потребители.
{% endblock %}
