<p>Чрез следния формуляр можете да предложите анотация на {{ text_title }}. Ако просто искате да оставите коментар към произведението, ползвайте <a href="COMMENTURL">страницата за читателски мнения</a>.</p>
<p><strong>Ако сте копирали анотацията, задължително посочете точния източник!</strong></p>
