<div id="textstart"><!-- can this be done some other way? --></div>
<div class="text-content text-content-main content-type-{{ text.type }}">
	{{ text.contentHtml(asset('/'), part, obj_count)|raw }}
</div>
