{% set next_part = text.getNextHeaderNr(part) %}
{% if next_part %}
	<div id="text-end-msg{{ id_suffix|default('') }}" class="text-end-msg">Към <a href="{{ path('text_show_part', {'id': app.request.attributes.get('id'), 'part': next_part, _format: app.request.requestFormat}) }}#textstart" rel="next">следващата част</a> или към <a class="goto-toc" href="#text-toc{{ id_suffix|default('') }}">съдържанието</a></div>
{% else %}
	<div id="text-end-msg{{ id_suffix|default('') }}" class="text-end-msg">
		Край
	</div>
	{#
		$this->makeNextSeriesWorkLink(true)
		$this->makeNextBookWorkLink(true)
	#}
	{% if similar_texts is defined and similar_texts|length > 0 %}
		{% include 'App:Text:similar_texts.html.twig' with {'texts': similar_texts} %}
	{% endif %}
{% endif %}
