{% extends 'App::layout.html.twig' %}

{% set title = 'Произведения' %}
{% block head %}
	{{ parent() }}
	<link rel="search" type="application/opensearchdescription+xml" href="{{ path('texts_search', {'_format': 'osd'}) }}" title="Търсене на произведения в Моята библиотека" />
{% endblock %}
{% block content %}
	<h2>По азбучен ред</h2>
	{% include 'App:Text:navigation.html.twig' with {'letter': ''} %}

	<div class="row">
		{% for labelGroup, labelsInGroup in labels %}
			<div class="col-md-6">
				<h2>{{ ('label.group.'~labelGroup)|trans }}</h2>
				{% include 'App:Text:label_tree.html.twig' with {labels: labelsInGroup, level: 0} %}
			</div>
		{% endfor %}
	</div>

	<h2>По форма</h2>
	{% include 'App:Text:type_list.html.twig' %}
{% endblock %}
