<li>
	{% import 'App::link.html.twig' as link %}
	{{ link.label(label) }}
	{% import 'helper.html.twig' as helper %}
	{{ helper.printInfoTip(label.description) }}
	{% include 'Text/label_delete_form.html.twig' with {'label': label} %}
</li>
