{% extends 'layout.html.twig' %}

{% set title = 'Произведения по форма' %}
{% block content %}
	<ul class="breadcrumb" itemprop="breadcrumb">
		<li><a href="{{ path('texts') }}">Произведения</a></li>
		<li class="active">по форма</li>
	</ul>
	{% include 'Text/type_list.html.twig' with { isExpanded: true } %}
{% endblock %}
