{% extends 'App::layout.html.twig' %}

{% set title = 'Произведения' %}
{% if letter != '-' %}
	{% set subtitle = letter %}
{% endif %}
{% block content %}

	<ul class="breadcrumb" itemprop="breadcrumb">
		<li><a href="{{ path('texts') }}">Произведения</a></li>
		<li class="active">{{ letter == '-' ? 'Всички' : letter }}</li>
	</ul>

	{% include 'App:Text:navigation.html.twig' with {'letter': letter} %}
	{% include 'App:Text:list.html.twig' %}
	{% include 'App::pager.html.twig' %}

{% endblock %}
