{{ form_start(form, { action: path('text_rating', {'id': text.id}), attr: {class: 'inline', onsubmit: 'return saveRating(this)'} }) }}
	<fieldset>
		{{ form_widget(form.rating, {'attr' : {'class': 'form-control', 'onchange': 'if (this.value) saveRating(this.form)'}}) }}
		<span class="extra indicator">
			{% if rating.id > 0 %}
				(Дадена на {{ rating.date|humandate }})
			{% endif %}
		</span>
		<noscript><input type="submit" value="Гласуване"></noscript>
	</fieldset>
{{ form_end(form) }}
