{% extends 'App::layout.html.twig' %}

{% set itemtype = "CreativeWork" %}

{% set title %}
	{% include 'Text/title.html.twig' %}
{% endset %}
{% if text.subtitle %}
	{% set subtitle = text.subtitle|replace({'\\n': '<br>'})|raw %}
{% endif %}

{% block content %}
	{% if part <= 1 %}
		{% include 'App:Text:annotation.html.twig' %}
	{% endif %}

	{% include 'Text/leading_tabs.html.twig' %}

	{% if text.removedNotice is not empty %}
		<div class="removed-notice">{{ text.removedNotice|raw }}</div>
	{% else %}
		{% include 'App:Text:toc.html.twig' %}
		{% include 'App:Text:content.html.twig' %}
		{% include 'App:Text:end_message.html.twig' %}
	{% endif %}

{% endblock %}
