{% extends 'layout.html.twig' %}

{% set itemtype = "CreativeWork" %}

{% set title %}
	{% include 'Text/title.html.twig' %}
{% endset %}
{% if text.subtitle %}
	{% set subtitle = text.subtitle|replace({'\\n': '<br>'})|raw %}
{% endif %}

{% block content %}
	{% if part <= 1 %}
		{% include 'Text/annotation.html.twig' %}
	{% endif %}

	<p class="sr-only"><a href="#textstart{{ id_suffix|default('') }}">Към текста</a></p>

	{% include 'Text/leading_tabs.html.twig' %}

	{% if text.removedNotice is not empty %}
		<div class="removed-notice">{{ text.removedNotice|raw }}</div>
	{% else %}
		{% include 'Text/toc.html.twig' %}
		{% include 'Text/content.html.twig' %}
		{% include 'Text/end_message.html.twig' %}
	{% endif %}

{% endblock %}
