{% extends 'App::layout.html.twig' %}

{% set title = 'Връзка с екипа' %}
{% block content %}

	<p>Имате богат избор от възможности, за да се свържете с администраторите на библиотеката. Можете да пишете в сайтовия форум, можете да пратите писмо по електронната поща ({{ admin_email|email|raw }}), а можете да ползвате и долния формуляр. Посочете име и електронна поща, за да може да получите отговор.</p>
	<p>Непременно прочетете <a href="{{ path('wiki', {page: 'faq'}) }}"><b>често задаваните въпроси</b></a>, преди да попитате нещо.</p>
	<p>Ползвайте кирилица, ако пишете на български!</p>
	<div class="alert alert-warning">Тук не е мястото за търсене или поръчка на книги!</div>
	{% if message is defined %}<p class="messages">{{ message }}</p>{% endif %}
	{% include 'App:Feedback:form.html.twig' %}

{% endblock %}
