<p>Непременно прочетете <a href="{{ path('wiki', {page: 'faq'}) }}"><b>често задаваните въпроси</b></a>, преди да попитате нещо.</p>
<p>Ползвайте кирилица, ако пишете на български!</p>
<div class="alert alert-warning">Тук не е мястото за търсене или поръчка на книги!</div>
