{% if is_owner %}
	<p>Само вие може да виждате този списък. Ако желаете да дадете достъп до списъка и на други лица, ползвайте <label>следния адрес: <input size="80" value="{{ url('user_bookmarks', {'username': user.token}) }}"></label></p>
{% endif %}
<ul class="superlist">
{% import 'LibBundle::text.html.twig' as texttools %}
{% for bookmark in bookmarks %}
	<li class="title t-{{ bookmark.text.type }}">{{ texttools.text_with_author(bookmark.text) }}</li>
{% endfor %}
</ul>
