<ul class="superlist">
{% import 'LibBundle::text.html.twig' as texttools %}
{% for contrib in contribs %}
	<li class="title t-{{ contrib.text.type }}" title="{{ contrib.comment }} ({{ contrib.date|humandate }})">{{ texttools.text_with_author(contrib.text) }}</li>
{% endfor %}
</ul>
