<p>Тук може да разгледате списък на произведенията, които се подготвят за добавяне в библиотеката.</p>
<p>
	За да започнете подготовката на нов текст, последвайте връзката „Добавяне на нов запис“.
	При добавянето на такъв запис е задължително да се качи и скан на книгата. Записи на книги без скан ще бъдат изтривани. Ако книгата е издадена електронно, е задължително да има корица и пълна информационна част – липсата им ще доведе до изтриване на записа.
</p>
<p>
	В случай че нямате възможност сами да сканирате текстове, може да се присъедините към коригирането на заглавията, отбелязани ето така:
	<span class="fa fa-users multiuser"><span class="sr-only">{{ ('workroom.type.1') | trans }}</span></span>.
</p>
<p>Бързината на добавянето на нови текстове в библиотеката зависи както от броя на грешките, останали след сканирането и разпознаването, така и от форма&#768;та на текста. Най-бързо ще бъдат добавяни отлично коригирани текстове, правилно преобразувани във <a href="{{ path('wiki', { page: 'docs/sfb' }) }}">формат SFB</a>.</p>
<div class="alert alert-danger error newbooks-notice media" style="margin:1em 0">
	<div class="pull-left">
		<span class="fa fa-warning"></span>
	</div>
	<div class="media-body">
		Разрешено е да се добавят само книги, издадени на български преди {{ banYearThreshold }} г. Изключение се прави за онези текстове, които са пратени от авторите си, както и за фен-преводи.
	</div>
</div>
