{% macro printExtraInfo(info) %}
	<span class="popover-trigger" data-content="{{ info }}"><span class="fa fa-info-circle"></span><span class="sr-only">Инфо</span></span>
{% endmacro %}

{% macro printFileLink(file) %}
	<a href="{{ file }}" class="save"><span class="fa fa-save"></span><span class="sr-only">Файл</span></a>
{% endmacro %}
