$(function() {
	$('#bibliomanId').on('blur', function() {
		var bibliomanId = this.value;
		console.log(bibliomanId);
		if (bibliomanId && bibliomanId != '0') {
			$.ajax({
				url: '{{ path('workroom_entry_patch', { 'id': entry.id }) }}',
				type : 'PATCH',
				data: { bibliomanId: bibliomanId },
				success: function(entry) {
					$('.biblioman-cover').html('<a href="https://biblioman.chitanka.info/books/'+entry.bibliomanId+'" target="_blank"><img src="https://biblioman.chitanka.info/books/'+entry.bibliomanId+'.cover?size=150" style="width:150px"></a>');
				}
			});
		}
	});
});
