<div class="progress">
	<div class="progress-bar" role="progressbar" aria-valuenow="{{ progressInPercent }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ progressInPercent }}%">
		<span>{{ progressInPercent }}%</span>
	</div>
</div>
