<table class="table table-condensed table-bordered table-hover">
<thead>
	<tr>
		<th>Дата</th>
		{% if userIsAdmin is defined and userIsAdmin %}
			<th title="Администраторски статус"></th>
		{% endif %}
		<th title="Тип на записа"></th>
		<th title="Информация"></th>
		<th title="Коментари към записа"></th>
		<th title="Файл"></th>
		<th style="width: 25%">Заглавие</th>
		<th>Автор</th>
		<th>Етап на работата</th>
		<th>Потребител</th>
	</tr>
</thead>
<tbody>
{% for entry in entries %}
	<tr class="{{ entry.isFrozen ? 'frozen' : '' }} {{ entry.hasParticipant(app.user) ? 'hilite' : '' }} {{ entry.isMissingBibliomanId ? 'missing-biblioman-id' : '' }}" id="e{{ entry.id }}">
		{% include 'WorkEntry/item.html.twig' %}
	</tr>
{% endfor %}
</tbody>
</table>
