{% import 'App::text.html.twig' as text_lister %}
	<h2>
		{% if series.slug is defined %}
			<a href="{{ path('series_show', {'slug': series.slug}) }}">{{ series.name }}</a>
		{% else %}
			{{ ('text.type.plular.'~series.name) | trans }}
		{% endif %}
	</h2>
	{{ text_lister.text_list_with_author(texts) }}
