{% extends 'App::layout.html.twig' %}

{% set title = 'Търсене' ~ (query ? ' на „'~query.text|e~'“' : '') ~ ' в авторските серии' %}
{% block content %}

	{% if series|length %}
		{% include 'App:Series:list.html.twig' %}
	{% endif %}

	{% if not found %}
		<p class="no-items">Не открихме никакви авторски серии.</p>
	{% endif %}

{% endblock %}
