<form class="delete-form image-form" action="{{ path('workroom_contrib_delete', {'id': contrib.id}) }}" method="post" data-credentials="workroom-admin">
	<input type="hidden" name="_method" value="delete">
	<button type="submit" title="Изтриване на записа"><span class="fa fa-trash-o"></span><span class="sr-only">Изтриване</span></button>
</form>
