<form class="delete-form" action="{{ path('workroom_contrib_delete', {'id': contrib.id}) }}" method="post" data-credentials="workroom-admin">
	<input type="hidden" name="_method" value="delete">
	<button type="submit" title="Изтриване на записа"><span>Delete</span></button>
</form>
