{% extends 'App::layout.html.twig' %}

{% set title = 'Изпращане на нова парола' %}
{% block content %}
<p>Чрез долния формуляр можете да поискате нова парола за влизане в <em>Моята библиотека</em>, ако сте забравили сегашната си. Такава обаче може да ви бъде изпратена само ако сте посочили валидна електронна поща в потребителските си данни.</p>

<form action="" method="post">
<fieldset>
	<legend>Нова парола</legend>
	<label for="username">Потребителско име:</label>
	<input name="username" id="username" size="25" maxlength="255" tabindex="2" type="text">
	<input value="Изпращане на нова парола" tabindex="3" name="submitButton" type="submit">
</fieldset>
</form>
{% endblock content %}
