{% extends 'App::layout.html.twig' %}

{% set title = 'Търсене' ~ (query ? ' на „'~query.text|e~'“' : '') %}
{% block content %}

	{% if persons|length %}
		<h2>Личности</h2>
		{% include 'App:Author:list_with_country.html.twig' with {'authors': persons} %}
	{% endif %}

	{% if texts|length %}
		<h2>Произведения</h2>
		{% include 'App:Text:list.html.twig' %}
	{% endif %}

	{% if books|length %}
		<h2>Книги</h2>
		{% include 'App:Book:list.html.twig' %}
	{% endif %}

	{% if series|length %}
		<h2>Авторски серии</h2>
		{% include 'App:Series:list.html.twig' %}
	{% endif %}

	{% if sequences|length %}
		<h2>Издателски поредици</h2>
		{% include 'App:Sequence:list.html.twig' %}
	{% endif %}

	{% if labels|length %}
		<h2>Етикети</h2>
		{% include 'App:Text:label_list.html.twig' %}
	{% endif %}

	{% if categories|length %}
		<h2>Категории</h2>
		{% include 'App:Book:category_list.html.twig' %}
	{% endif %}
{#
	{% if work_entries|length %}
		<h2>Работно ателие</h2>
		{% include 'App:WorkEntry:list.html.twig' with {'entries': work_entries} %}
	{% endif %}
#}
	{% if not found %}
		<p class="no-items">Не открихме нищо за „{{ query.text }}“.</p>
	{% endif %}

{% endblock %}
