<div class="alert alert-danger">
	Необходимо е да посочите валидна електронна поща в <a href="{{ path('user_edit', {username: sender.username}) }}">настройките си</a>, за да можете да пращате писма на други потребители.
</div>
