{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}
{% block field%}
	{% if value %}
		<a href="{{ value.url }}" class="booksite">ПУК!</a>
	{% else %}
		<a href="http://biblio.stage.bg/index.php?do=search&amp;subaction=search&amp;story={{ object.title|encoding('cp1251')|urlencode }}">ПУК!</a>?
	{% endif %}
{% endblock %}
